[Unit]
Description=uWSGI instance to serve NeuroHealthCase
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/neurohealth.care
Environment="PATH=/home/ubuntu/neuro_health_env_prod/bin"
ExecStart=/home/ubuntu/neuro_health_env_prod/bin/uwsgi --enable-threads --lazy-apps --ini nhc.ini
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target