{% extends "settings.html" %}

{% block age_range_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Справочник диапазонов возрастов</h5>

            <div class="row">
                <div class="col-sm-12">
                {% if _ranges_age %}
                    <table id="datatables-buttons" class="table table-bordered" style="width: 100%;"
                        role="grid" aria-describedby="datatables-reponsive_info">

                        <tbody>
                            <tr>
                            {% for i_range in _ranges_age %}
                                <tr>
                                    <td>
                                        <a href="/settings/estimated_values?id={{ i_range['id'] }}">{{ i_range['range'] }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center">
                        <h2>Данная страница недоступна из-за отсутсвия нужного файла.</h2>
                        <h2>Приносим свои извинения.</h2>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}