<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Denis Afanasev">

    <link rel="shortcut icon" href="{{ url_for('static' , filename="img/icons/icon-48x48.png")}}" />

    <title>{{ app_name }}</title>
    <link href="{{ url_for('static' , filename="css/light.css")}}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ url_for('index')}}">
                    <span class="align-middle">{{ app_name }}</span>
                </a>

                <div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-shrink-0">
							<img src={{ url_for('static' , filename="img/avatars/avatar.jpg")}} class="avatar img-fluid rounded me-1" alt="{{ current_user.name }}">
						</div>
						<div class="flex-grow-1 ps-2">
							<a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                {{ current_user.name }}
							</a>
                            <div class="sidebar-user-subtitle">{{ current_user.role }}</div>
							<div class="dropdown-menu dropdown-menu-start">
								<a class="dropdown-item" href="/logout">Log out</a>
							</div>
						</div>
					</div>
				</div>

                <ul class="sidebar-nav">
                    {% for module in _menu %}
                        {% if module[0] != '' %}
                        <li class="sidebar-header">
                            {{ module[0] }}
                        </li>
                        {% endif %}
                        {% for item in module[1] %}
                            <li class="sidebar-item" value={{ item['value'] }}>
                                <a class="sidebar-link" href="{{ url_for(item['endpoint'])}}">
                                    <i class="align-middle" data-feather={{ item['icon'] }}></i> <span
                                        class="align-middle">{{ item['name'] }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div class="sidebar-cta">
                    <div class="sidebar-cta-content">
                        <div class="mb-0 text-sm text-center">
                            Version {{ app_version }}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <script>
            $(document).ready(function () { $("body").click(loadPage()) });
        </script>

        <script>
            function loadPage() {

                var listItems = $(".sidebar-item");

                page_number = {{ _active_main_menu_item}};

                for (let i = 0; i < listItems.length; i++) {
                    listItems[i].classList.remove("active");
                    if (page_number == listItems[i].value) {
                        listItems[i].classList.add("active");
                    }
                }
            }
        </script>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        
                        <li class="nav-item dropdown">
        
                            <a class="nav-link pe-md-0 d-none d-sm-inline-block dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-dark">{{ current_user.name }}</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                {% block main_block %}
                {% endblock %}
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="http://cleverleaf.tech" class="text-muted"><strong>CleverLEAF Technology</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{{ url_for('static' , filename="js/app.js")}}"></script>

</body>

</html>