{% extends "base.html" %}

{% block main_block %}
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = document.getElementById('message');
        {% if _error_type == "Error" %}
        {% elif _error_type == 'Successful' %}
            document.querySelector('h3[id=title_message]').textContent = 'Успешно';
            document.querySelector('p[id=text_message]').textContent = "{{ _error }}";
            message.style.display = "block";
        {% endif %}
        });
    </script>
    <script>
        var modal_discharge = document.getElementById('discharge');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === modal_extension) {
                modal_discharge.style.display = "none";
            }
        }
    </script>

    <style>
    .task{
        margin-top: -1em;
        margin-bottom: 0;
        white-space: pre-line;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
    }
    </style>

    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Домашняя работа и чат</h1>
        </div>

        <div class="row d-flex align-items-stretch bd-highlight">
            <div class="card d-flex align-self-baseline border-0" style="background: fixed;">
                <div class="row d-flex align-items-stretch bd-highlight">
                    <div class="col-md-6 bd-highlight">

                            <div class="card d-flex align-self-baseline border p-4">
                                <h4>Данные ученика</h4>
                                <div class="card-header">
                                    <p><strong>Login:</strong> {{ _data['user']['login'] }}</p>
                                    <p><strong>Имя:</strong> {{ _data['user']['name'] }}</p>
                                    <p><strong>Email:</strong> {{ _data['user']['email'] }}</p>
                                </div>
                            </div>

                            <div class="card d-flex align-self-baseline border p-4">
                                <h4>Данные урока</h4>
                                <div class="card-header">
                                    <p><strong>Курс: </strong>{{ _data['course']['name'] }}</p>
                                    <p><strong>Модуль: </strong>{{ _data['module']['name'] }}</p>
                                    <p><strong>Урок: </strong>{{ _data['module']['lesson']['name'] }}</p>
                                    <p class="task"><strong>Задание: </strong>{{ _data['module']['lesson']['task'] }}</p>
                                    <p><strong>Статус: </strong>{{ _homework["status"] }}</p>
                                </div>
                            </div>

                            <div class="card d-flex align-self-baseline border p-4">
                                <h4>Домашняя работа</h4>
                                <div class="card-header">
                                    <form id="homework" name="homework" method="post" enctype="multipart/form-data" class="was-validated">
                                        <div class="mb-2">
                                            <div class="mb-2">
                                                {{ _homework['text'] }}
                                            </div>
                                                {% for file in _homework['users_files_list'] %}
                                                    <a download href="/download?name_file={{ file }}&dataset=chat">{{ file }}</a>
                                                {% endfor %}
                                        </div>

                                    {% if _homework['homework_answer']['status'] == "не проверено" %}
                                        <div class="mb-0">
                                            <label class="form-label"><strong>Ответ</strong></label>
                                            <div class="">
                                              <input  name="answer" type="radio" value="True" id="answer_true">
                                              <label class="form-check-label" for="answer_true">
                                                Принято
                                              </label>
                                            </div>
                                            <div class="">
                                              <input   name="answer" type="radio" value="False" id="answer_false">
                                              <label class="form-check-label" for="answer_false">
                                                Не принято
                                              </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </form>
                                </div>
                            {% if _homework['homework_answer']['status'] == "не проверено" %}
                                <div class="row d-flex align-items-stretch bd-highlight" style="margin-left: auto;">
                                    <div class="p-1" style="float: right">
                                        <button type="submit" form="homework" name="button" value="answer" class="btn btn-primary ">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            </div>

                    </div>
                <div class="col-md-6 text-left">
                    {% include "room_chat.html" %}
                </div>
                </div>
            </div>
        </div>
    {% include "message_form.html" %}
    </div>
{% endblock %}