{% extends "base.html" %}
{% block main_block %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>
    <script src="{{ url_for('static' , filename="js/datatables.js") }}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {

        var datatablesButtons = $("#datatables-buttons").DataTable({
            responsive: true,
            lengthChange: !1,
            {#displayStart: {{ _num_page * 10 }}#}

        });

        datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");

        $("#date_start").flatpickr("optional_config");
        $("#date_end").flatpickr("optional_config");

    })
    </script>

    <script>
    $(document).ready(function() {
            $('#students_list').multiselect({
                includeSelectAllOption: true,
                scrollY: true,
                maxHeight: 450,
            });
            $('#curators_list').multiselect({
                scrollY: true,
                maxHeight: 450,
                includeSelectAllOption: true
            });
        })
    </script>

    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Обучающие потоки</h1>

        <div class="row">
            <div class="col-12">
                <div class="card border">
                    <div class="card-body">
                        <div id="datatables-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons"
                                        href="{{ url_for('education_stream_card') }}">
                                            <span>Добавить обучающий поток</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables-buttons" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%; font-size: 13px" aria-describedby="datatables-buttons_info">
                                        <thead style="text-align: center">
                                            <tr>
                                                <th style="width:5%;">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:20%;" aria-label="Position: activate to sort column ascending">Название
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Преподаватель
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Дата старта
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Дата окончания
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:15%;" aria-label="Position: activate to sort column ascending">Обучающий курс
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Количество кураторов
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Количество обучающихся
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:15%;" aria-label="Position: activate to sort column ascending">Статус
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for education_stream in _education_streams_list %}
                                                {% if education_stream['id'] != 0 %}
                                                    <tr class="even">
                                                        <td>{{ education_stream['id'] }}</td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 21%">
                                                                <a href="/education_stream_card?id={{ education_stream['id'] }}">{{ education_stream['name'] }}</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 14%">{{ education_stream['teacher'] }}</div>
                                                        </td>
                                                        <td>{{ education_stream['date_start'] }}</td>
                                                        <td>{{ education_stream['date_end'] }}</td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 16%">{{ education_stream['course']['name'] }}</div>
                                                        </td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 21%">{{ education_stream['count_curators'] }}</div>
                                                        </td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 15%">{{ education_stream['count_students'] }}</div>
                                                        </td>
                                                        <td>
                                                            <div style="text-align: center; margin-right: 15%">{{ education_stream['status'] }}</div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for education_stream in _education_streams_list %}
            <script>
                var modal_{{ education_stream['id'] }} = document.getElementById('{{ education_stream['id'] }}');
                window.onclick = function (event) {
                    if (event.target === modal_{{ education_stream['id'] }}) {
                        modal_{{ education_stream['id'] }}.style.display = "none";
                    }
                }
            </script>
            <div id="{{ education_stream['id'] }}" class="modal_{{ education_stream['id'] }} modal">
            <div class="modal-content animate">
                <h3 class="modal-title">Обучающий поток</h3>
                <form id="discharge_user_{{ education_stream['id'] }}" name="discharge_user_{{ education_stream['id'] }}"
                      method="post" enctype="multipart/form-data" class="was-validated">
                    <div class="row d-flex align-items-stretch bd-highlight">
                        <div style="margin-right: 5px" class="col p-1 bd-highlight border">
                            <div class="card d-flex align-self-baseline" style="margin-left: auto; margin-right: auto; ">
                                <div class="card-header">
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Название потока</strong></label>
                                        <input id="name" required name="name_{{ education_stream['id'] }}" class="form-control">
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label"><strong>Курс</strong></label>
                                        <select id="course_list" name="course_list_{{ education_stream['id'] }}" class="form-select">
                                            {% for course in _courses_list %}
                                                <option value="{{ course['id'] }}">{{ course['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Преподаватель</strong></label>
                                        <select id="teacher" name="teacher_{{ education_stream['id'] }}" class="form-select">
                                            {% for teacher in _curators_list %}
                                                <option value="{{ teacher['login'] }}">{{ teacher['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-right: 5px" class="col p-1 bd-highlight border">
                            <div class="card d-flex align-self-baseline" style="margin-left: auto; margin-right: auto; ">
                                <div class="card-header">
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Дата старта</strong></label>
                                        <input id="date_start" type="date" placeholder="Выберите дату..">
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Дата окончания</strong></label>
                                        <input id="date_end" type="date" placeholder="Выберите дату..">
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Кураторы</strong></label>
                                        <select id="curators_list" name="curators_list_{{ education_stream['id'] }}"
                                                style="overflow-y: scroll;" class="form-select choices-multiple" multiple="multiple">
                                            {% for curator in _curators_list %}
                                                <option value="{{ curator['login'] }}">{{ curator['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Ученики</strong></label>
                                        <select id="students_list" name="students_list_{{ education_stream['id'] }}"
                                                style="overflow-y: scroll;" class="form-select" multiple="multiple">
                                            {% for student in _students_list %}
                                                <option value="{{ student['login'] }}">{{ student['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Поле, обязательное для заполнения!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-stretch bd-highlight" style="margin-left: auto; margin-right: auto; ">
                        <div class="p-1" align="right">
                            <button type="submit" name="button_{{ education_stream['id'] }}" value="discharge" class="btn btn-primary ">
                                Сохранить
                            </button>
                            <a onclick="document.getElementById('{{ education_stream["id"] }}').style.display='none'" type="submit" class="btn btn-primary cancelbtn">
                                Отмена
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}