{% extends 'base.html' %}

{% block main_block %}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.2.0/css/rowGroup.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.4/css/fixedHeader.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{{ url_for('static' , filename="js/datatables.js")}}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // DataTables with Buttons
            $("#datatables-homeworks").DataTable({
                responsive: true,
                lengthChange: false,
                {#scrollY: "500px",#}
                {#scrollCollapse: true,#}
                paging: true,
                fixedHeader: false,
                fixedColumns: false,
                pageLength: 20,
                ordering: true,
                orderMulti: true,
                orderFixed: [[0, 'asc'], [3, "asc"], [4, "asc"]],
                rowGroup: {
                    dataSrc: [3, 4]
                },
                columnDefs: [
                    {
                        "targets": [ 0, 3, 4 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                      "targets": 5,
                      "sType": "date-uk"
                    }
                ]
            });

            jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                "date-uk-pre": function ( a ) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                },

                "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            } );
            {#datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");#}
        });
    </script>

    <style>
    table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc {
            background : none;
        }
    </style>

    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Проверка домашних заданий</h1>
        </div>

        <form id="homeworks" name="homeworks" method="post" enctype="multipart/form-data">
            <div class="row d-flex align-items-stretch bd-highlight">
                <div class="p-2 bd-highlight">
                    <div class="card d-flex align-self-baseline">
                        <div class="card-header">
                            <table id="datatables-homeworks" class="table no-footer row-border order-column nowrap"
                                   aria-describedby="datatables-buttons_info">
                                <thead>
                                    <tr role="row">
                                        <th>#</th>
                                        <th class="sorting" style="width:20%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Login</th>
                                        <th class="sorting" style="width:20%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Имя</th>
                                        <th>Модуль</th>
                                        <th>Урок</th>
                                        <th class="sorting" style="width:10%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Дата сдачи</th>
                                        <th class="sorting" style="width:5%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Статус</th>
                                        <th class="sorting" style="width:10%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Ответ</th>
                                        <th class="sorting" style="width:20%!important;" tabindex="0" aria-controls="datatables-homeworks"
                                            aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Домашняя работа</th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                {% for item in _data %}
                                    <tr>
{#                                        <td>Обучающий поток(курс потока):{{ item['education_stream']['name'] }}({{ item['course']['name'] }})</td>#}
                                        <td>{{ item['lesson']['id'] }}</td>
                                        <td>{{ item["user"]['login'] }}</td>
                                        <td>{{ item["user"]['name'] }}</td>
                                        <td>{{ item['lesson']['module_name'] }}</td>
                                        <td>Урок: {{ item['lesson']['name'] }}</td>
                                        <td>{{ item['date_delivery'] }}</td>
                                        <td><div class='badge {% if item['status'] == "не проверено" %} bg-info {% elif item['status'] == "проверено" %} bg-success {% endif %} bg-gradient text-light'>{{ item['status'] }}</div></td>
                                        <td><div class='badge {% if item['status'] == "Принято" %} bg-success {% elif item['status'] == "Не принято" %} bg-danger {% endif %} bg-gradient text-light'>{{ item['status'] }}</div></td>
                                        <td style="text-align: center">
                                            {% if item.get("id_room_chat") is not none %}
                                                <a href="/education_home_task_profile?id_chat={{ item['id_room_chat'] }}&id_homework={{ item['id'] }}" >
                                                    Перейти
                                                </a>
                                            {% else %}
                                                <a href="/education_home_task_profile?id_homework={{ item['id'] }}" >
                                                    Перейти
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}