{% extends 'base.html' %}

{% block main_block %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="{{ url_for('static' , filename="js/datatables.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.0.2/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">

    <style>
    .card-img{
        width: 50px;
        height: 50px;
        float: right;
    }
    .card-text{
        color: #0a0a0a;
    }
    .btn{
        float: right;
    }
    </style>

    <h1 class="h3 mb-2">{{_('Образовательная программа "Я - НейроМама"')}}</h1>

    
        {% if _data %}
            

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                
                            <h6 class="text-muted">{{_('Программа курса составлена с применением методов, которые
                                    используются в
                                    детской нейропсихологии.
                                    Курс поможет вам разобраться с высшими психическими функциями ребенка. Вы сможете
                                    самостоятельно составить
                                    программу
                                    именно для вашего ребенка, по которой будете развивать все необходимые для учебы базовые
                                    познавательные
                                    функции.')}} <a href="http://neurohealth.care/programms/iamaneuromama" target="_blank">{{_('Полное
                                    описание образовательной программы')}}</a></h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title mb-0">{{_('Основной обучающий курс')}}</h2>
                            </div>
                            <div class="card-body">
                                {% for i_course in _data %}
                                {% if i_course['type']=='main' %}
                                    <div class="raw">
                                        <div class="card border text-left">
                                            <img class="card-img-top"
                                                src="/static/img/photos/{% if i_course['image'] != '' %}{{ i_course['image'] }}{% else %}unsplash-3.jpg{% endif %}"
                                                alt="Unsplash">
                                            <div class="card-header">
                                                <h2 class="card-title mb-0">{{ _(i_course['name']) }}</h2>
                                            </div>
                                    
                                            <div class="card-body">
                                                <p class="card-text">{{ _(i_course['description']) }}</p>
                                                <a href="{{ url_for('multilingual.education_course', id_course=i_course['id']) }}" class="btn btn-primary">
                                                    {{_('Перейти к курсу')}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">

                        <div class="card">
                            <div class="card-body">
                                <table class="table table-sm mt-2 mb-4">
                                    <tbody>
                                        <tr>
                                            <th>{{_('Режим доступа')}}</th>
                                            <td>
                                                {% if _user['active_education_module'] == 'active' or _user['active_education_module'] == 'ends' %}
                                                    <span class="badge bg-success">{{_("Режим самостоятельного обучения")}}</span>
                                                {% elif _user['active_education_module'] == 'inactive' %}
                                                    <span class="badge bg-warning">{{_("Режим ознакомления")}}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{_('Срок доступа')}}</th>
                                            <td>{{ _user['education_module_expiration_date'] }}</td>
                                        </tr>
{#                                        {% for progress in _user_education_progress %}#}
{#                                            <tr>#}
{#                                                <th>Поток</th>#}
{#                                                <td>{{ progress['education_stream_name'] }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th>Домашние задания</th>#}
{#                                                <td>Сдано: {{ progress['amount_homework_accepted'] }}  Не сдано: {{ progress['amount_homework_no_accepted'] }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th>Пройдено модулей</th>#}
{#                                                <td>{{ progress['amount_modules_passed'] }}/Осталось {{ progress['amount_modules_no_passed'] }}</td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% for progress in _user_education_progress %}

                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-sm mt-2 mb-4">
                                        <tbody>

                                                <tr>
                                                    <th>{{_("Поток")}}</th>
                                                    <td>{{ progress['education_stream_name'] }}</td>
                                                </tr>
                                                <tr>
                                                    <th>{{_("Домашние задания")}}</th>
                                                    <td>{{_('Сдано:')}} {{ progress['amount_homework_accepted'] }} {{_("Не
                                                            сдано:")}} {{ progress['amount_homework_no_accepted'] }}</td>
                                                </tr>
                                                <tr>
                                                    <th>{{_("Пройдено модулей")}}</th>
                                                    <td>{{ progress['amount_modules_passed'] }} ({{_("Осталось")}} {{ progress['amount_modules_no_passed'] }})</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
            
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title mb-0">{{_("Дополнительные курсы")}}</h2>
                            </div>
                            <div class="card-body">
                                {% for i_course in _data %}
                                {% if i_course['type']=='additional' %}
                                <div class="raw">
                                    <div class="card border text-left">
                                        <img class="card-img-top"
                                            src="/static/img/photos/{% if i_course['image'] != '' %}{{ i_course['image'] }}{% else %}unsplash-3.jpg{% endif %}"
                                            alt="Unsplash">
                                        <div class="card-header">
                                            <h2 class="card-title mb-0">{{ i_course['name'] }}</h2>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">{{ i_course['description'] }}</p>
                                                <a href="{{ url_for('multilingual.education_course', id_course=i_course['id']) }}" class="btn btn-primary">
                                                {{_('Перейти к курсу')}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    
                    </div>
        {% else %}
            <div class="text-center">
                <h2>{{_("Данная страница недоступна из-за отсутсвия нужного файла.")}}</h2>
            </div>
        {% endif %}

{% endblock %}