{% extends 'base.html' %}

{% block main_block %}
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var quill = new Quill('#editor', {
            modules: {
                toolbar: [
                  ['bold', 'italic'],
                  ['link', 'blockquote', 'code-block'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              },
            theme: 'snow',

        });
        var form = document.querySelector('form');
        form.onsubmit = function () {
            // Populate hidden form on submit
            var about = document.querySelector('input[name=text]');
            about.value = quill.root.innerHTML;
            if (about.value === "<p><br></p>") {
                alert("Ошибка: не заполнено поле для отправки домашнего задания!")
                return false;
            }
        };
    });
    </script>


    <style>

    .chat-messages {
        display: list-item;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: initial;
        white-space: inherit;
        height: 500px;
        max-height: 500px;
    }

    .chat-message-left {
        display: block;
        flex-shrink: 0;
        word-wrap: break-word;

    }

    .chat-message-left {
        margin-right: auto;
        text-align: left;
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto;
        text-align: right;
    }
    .py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .px-4 {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
    .flex-grow-0 {
        flex-grow: 0!important;
    }
    .border-top {
        border-top: 1px solid #dee2e6!important;
    }
    .card{
        border: #0a0a0a;
    }
    .card-title {
        color: #0a0a0a;
    }
    .card-body.chat-message-left {
        font-size: 15px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    }
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .word {
        width: 35px;
    }
    .pdf {
        width: 30px;
    }
    .card-text{
        margin-top: -4em;
        margin-bottom: 0;
        white-space: pre-line;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
        color: #0a0a0a
    }
        /* Ссылки для разбиения на страницы */
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
        margin: 0 4px;
        text-align:center;
    }

    /* Стиль активной/текущей ссылки */
    .pagination a.active {
      background-color: dodgerblue;
      color: white;
    }

    /* Добавить серый цвет фона при наведении курсора мыши */
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>

    <h1 class="h3 mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('education_main_courses') }}">Курс</a></li>
                <li class="breadcrumb-item">{{ _data['name'] }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ _data['lesson']['name'] }}</li>
            </ol>
        </nav>
    </h1>

    <div class="container-fluid p-0">
    
        <div class="card border">
            <div class="card-header">
                <h4>
                    Материалы урока
                </h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 text-left">
                    {% if _data['lesson']["link"] is not none %}
                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                {% if _data['lesson']['link'] is not none %}
                                    {% for i_video in _data['lesson']['link'] %}
                                         {% if i_video['video'] %}
                                            <div style="padding:56.25% 0 0 0;position:relative;">
                                                <iframe src="{{ i_video['video'] }}&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                                                        style="position:absolute;top:0;left:0;width:100%;height:100%;" webkitallowfullscreen mozallowfullscreen class="border"
                                                        title="Модуль 4 / Урок 1 / Функция переработки зрительно-пространственной инфор">
                                                </iframe>
                                            </div>
                                         {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div style="">
                                    <div class="pagination" >

                                            <a class="border" style="margin-right: auto"
                                                    href="{% if request.args.get('id_video')|int >= 2 %}/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_video={{ request.args.get('id_video')|int - 1 }}{% endif %}">
                                                <<
                                            </a>

                                        {% for i_video in _data['lesson']['link'] %}
                                            <a class="{% if i_video['video'] %}active{% endif %} border" style="margin: auto"
                                                    href="/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_video={{ i_video['id'] }}">
                                                {{ i_video['id'] }}
                                            </a>
                                        {% endfor %}

                                            <a class="border" style="margin-left: auto"
                                                    href="{% if request.args.get('id_video')|int <= _data['lesson']['link']|count - 1 %}/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_video={{ request.args.get('id_video')|int + 1 }}{% endif %}">
                                                >>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;"></th>
                                            <th style="width:70%;">Статус обучения</th>
                                            <th style="width:25%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-alt"></i>
                                            </td>
                                            <td>Срок доступа</td>
                                            <td class="d-none d-md-table-cell">{{ _user['education_module_expiration_date'] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-couch"></i>
                                            </td>
                                            <td>Домашнее задание</td>
                                            <td class="d-none d-md-table-cell">Выполнено</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        {% if _data['lesson']['materials'] %}
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;"></th>
                                                <th style="width:70%;">Дополнительные материалы</th>
                                                <th style="width:25%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i_materials in _data['lesson']['materials'] %}
                                            {% set type = i_materials.split('.')[-1] %}
                                            {% set name_file = i_materials.split('/')[-1].split('.')[0] %}
                                            <tr>
                                                <td class="table-action">
                                                    <img class="{% if type == 'doc' or type == "docx" %}word{% else %}pdf{% endif %}"
                                                         src="{% if type == 'doc' or type == "docx" %}/static/img/icons/icon_word.png{% else %}/static/img/icons/icon_pdf.png{% endif %}">
                                                </td>
                                                <td>{{ name_file }}</td>
                                                <td>
                                                    <a href="/download?name_file={{ i_materials }}&dataset=course&id_dataset={{ _data['id_course'] }}">Файл</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if _data['lesson']['text'] %}
                        <div class="col-md-5 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ _data['lesson']['text'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if _data['lesson']['task'] %}
            <form method="post" enctype="multipart/form-data">
                <div class="card border">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4>
                                    Домашнее задание
                                </h4>
                            </div>
                            {% if _user['role'] == "superuser" %}
                                <div class="col">
                                    <select class="form-select" onchange="this.form.submit();" name="user">
                                            <option selected disabled value="">Выберите ученика</option>
                                        {% for i_user in _user_list %}
                                            <option value="{{ i_user }}">{{ i_user }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12 text-left">
                                <div class="card py-1 py-md-1 border">
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{ _data['lesson']['task'] }}
                                        </p>
                                        {% if request.args.get('id_chat') %}
                                            <div id="editor" style="z-index: 0"><p></p></div>
                                            <input type="hidden" id="hiddenInput" name="text">
                                            <div>
                                                <input type="file" multiple name="files" class="form-control">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card d-flex align-self-baseline" style="margin-left: auto">
                                        <div class="card-header">
                                            <button type="submit" name="send" value="send" class="btn btn-primary">Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-stretch bd-highlight">
                                <div class="col-12 p-2 bd-highlight">
                                    {% if _room_chat['message'] %}
                                        <div class="border position-relative">
                                            <div class="card-group chat-messages p-4">
                                                {% for i_message in _room_chat['message'] %}
                                                    <div class="card border-top chat-message-left pb-4">
                                                        <div class="card-header">
                                                            <h3 class="card-title message">{{ i_message['name_sender'] }}</h3>
                                                        </div>
                                                        <div class="card-body  flex-shrink-1  rounded py-2 px-3 mr-3">
                                                            {{ i_message['text'] }}
                                                            {% if i_message['files'] %}
                                                                <div class="row">
                                                                    {% for i_file in i_message['files'] %}
                                                                        <a href="/download?name_file={{ i_file['name_file_unique'] }}&dataset=chat">{{ i_file['name_file_user'] }}</a>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="card border">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4>
                                Домашнее задание
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h2>Выполнение домашней работы пока недоступно.</h2>
                                        <h2>Приносим свои извинения.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}