{% extends 'base.html' %}

{% block main_block %}
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var quill_homework = new Quill('#editor_homework', {
            modules: {
                toolbar: [
                  ['bold', 'italic'],
                  ['link', 'blockquote', 'code-block'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              },
            theme: 'snow',

        });
        let message = document.getElementById('message');
        let error_homework = "Ошибка: не заполнено поле для отправки домашнего задания!";

        var form_homework = document.getElementById("homework");
        form_homework.onsubmit = function () {
            // Populate hidden form on submit
            var about = document.querySelector('input[name=text_homework]');
            about.value = quill_homework.root.innerHTML;
            if (about.value === "<p><br></p>") {
                document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
                document.querySelector('p[id=text_message]').textContent = error_homework;
                message.style.display = 'block'
                return false;
            }
        };
    });
    </script>


    <style>

    .word {
        width: 35px;
    }
    .pdf {
        width: 30px;
    }
    .card-text{
        margin-top: -1em;
        margin-bottom: 0;
        white-space: pre-line;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
        color: #0a0a0a
    }
        /* Ссылки для разбиения на страницы */
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
        margin: 0 4px;
        text-align:center;
    }

    /* Стиль активной/текущей ссылки */
    .pagination a.active {
      background-color: dodgerblue;
      color: white;
    }

    /* Добавить серый цвет фона при наведении курсора мыши */
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>

    <h1 class="h3 mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/education_course?id_course={{ _data['id_course'] }}">Курс "{{ _course_name }}"</a></li>
                {% if _data['name'] != '' %}
                <li class="breadcrumb-item">{{ _data['name'] }}</li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{ _data['lesson']['name'] }}</li>
            </ol>
        </nav>
    </h1>

    <div class="container-fluid p-0">
    
        <div class="card border">
            <div class="card-header">
                <h4>
                    Материалы урока
                </h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 text-left">
                    {% if _data['lesson']["link"] is not none %}
                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                {% if _data['lesson']['link'] is not none %}
                                    {% for i_video in _data['lesson']['link'] %}
                                         {% if i_video['video'] %}
                                            <div style="padding:56.25% 0 0 0;position:relative;">
                                                <iframe src="{{ i_video['video'] }}&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                                                        style="position:absolute;top:0;left:0;width:100%;height:100%;" webkitallowfullscreen mozallowfullscreen class="border"
                                                        title="Модуль 4 / Урок 1 / Функция переработки зрительно-пространственной инфор">
                                                </iframe>
                                            </div>
                                         {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div style="">
                                    <div class="pagination" >

                                            <a class="border" style="margin-right: auto"
                                                    href="{% if request.args.get('id_video')|int >= 2 %}/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_module={{ _data['id_module'] }}&id_video={{ request.args.get('id_video')|int - 1 }}{% endif %}">
                                                <<
                                            </a>

                                        {% for i_video in _data['lesson']['link'] %}
                                            <a class="{% if i_video['video'] %}active{% endif %} border" style="margin: auto"
                                                    href="/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_module={{ _data['id_module'] }}&id_video={{ i_video['id'] }}">
                                                {{ i_video['id'] }}
                                            </a>
                                        {% endfor %}

                                            <a class="border" style="margin-left: auto"
                                                    href="{% if request.args.get('id_video')|int <= _data['lesson']['link']|count - 1 %}/education_course/lesson?id_course={{ _data['id_course'] }}&id_lesson={{ _data['lesson']['id'] }}&id_module={{ _data['id_module'] }}&id_video={{ request.args.get('id_video')|int + 1 }}{% endif %}">
                                                >>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:5%!important;"></th>
                                            <th style="width:20%!important;"></th>
                                            <th style="width:45%!important">Статус обучения</th>
                                            <th style="width:30%!important"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-alt"></i>
                                            </td>
                                            <td>Срок доступа</td>
                                            <td></td>
                                            <td class="d-none d-md-table-cell">{{ _user['education_module_expiration_date'] }}</td>
                                        </tr>
                                        <tr class="{% if _data['lesson']['task'] %}
                                                    {% if _homework is none %} table-warning
                                                    {% elif _homework['homework_answer']['status'] == "не проверено" %} table-info
                                                    {% elif _homework['homework_answer']['answer'] == "Принято" %} table-success {% else %} table-danger {% endif %}
                                                   {% else %} table-warning
                                                   {% endif %}">
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-couch"></i>
                                            </td>
                                            <td>Домашнее задание</td>
                                            <td>{% if _data["lesson"]['task'] %}{% if _homework is not none %}Сдано: {{ _homework.get('date_delivery') }}{% else %}Не сдано{% endif %}{% else %}Нет домашнего задания{% endif %}</td>
                                            <td class="d-none d-md-table-cell">{% if _homework is not none %}{% if _homework['homework_answer']['status'] == "не проверено" %}Не проверено{% elif _homework is not none %}{{ _homework['homework_answer']['answer'] }}{% endif %}{% endif %}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        {% if _data['lesson']['materials'] %}
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:5%!important;"></th>
                                                <th style="width:70%!important;">Дополнительные материалы</th>
                                                <th style="width:25%!important"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i_materials in _data['lesson']['materials'] %}
                                            {% set type = i_materials.split('.')[-1] %}
                                            {% set name_file = i_materials.split('/')[-1].split('.')[0] %}
                                            <tr>
                                                <td class="table-action">
                                                    <img class="{% if type == 'doc' or type == "docx" %}word{% else %}pdf{% endif %}"
                                                         src="{% if type == 'doc' or type == "docx" %}/static/img/icons/icon_word.png{% else %}/static/img/icons/icon_pdf.png{% endif %}">
                                                </td>
                                                <td style="word-break: break-all;">{{ name_file }}</td>
                                                <td>
                                                    <a href="/download?name_file={{ i_materials }}&dataset=course&id_dataset={{ _data['id_course'] }}">Файл</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if _data['lesson']['text'] %}
                        <div class="col-md-5 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ _data['lesson']['text'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if _data['lesson']['task'] %}
            <div class="card border">
                <div class="card-body">
                    <div class="row">

                        <div class="col-6 md-2 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-header">
                                    <h4 class="form-label">Домашние задание</h4>

                                    <p class="card-text">
                                        {{ _data['lesson']['task'] }}
                                    </p>
                                {% if _user['role'] != "superuser" %}

                                    <!-- Если есть id комнаты чата, то значит есть и доступ к выполнению домашней работы -->

                                    {% if request.args.get('id_chat') != "none" and _homework is none %}
                                        <form id="homework" method="post" enctype="multipart/form-data">
                                            <div class="mb-2">
                                                <label class="form-label" for="hometask">Ответ</label>
                                                <div class="mb-2">
                                                    <div id="editor_homework" style="z-index: 0"><p></p></div>
                                                    <input type="hidden" id="hiddenInput" name="text_homework">
                                                </div>
                                                <input id="hometask" size="2097152" type="file" multiple name="files" class="form-control mb-2">
                                                <div class="" align="right">
                                                    <button id="button" class="btn btn-primary" name="button" type="submit" value="homework">Отправить</button>
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}

                                {% endif %}
                                </div>
                            </div>
                            {% if _homework is not none %}
                                <div class="card py-1 py-md-1 border">
                                    <div class="card-header">
                                        <h4 class="form-label">Ваш ответ</h4>
                                        <div class="mb-1">
                                            <div class="mb-2">
                                                {{ _homework['text'] }}
                                            </div>
                                            {% for file in _homework['users_files_list'] %}
                                                <a href="/download?name_file={{ file }}&dataset=chat">{{ file }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    <!-- Чат для общения с кураторами/преподавателями -->
                    {% if _user['role'] != "superuser" %}
                        {% if request.args.get('id_chat') == "none"%}
                             <div class="col card border">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h4>
                                                Чат
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <div class="card py-1 py-md-1">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h2>Чат не доступен</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        {% else %}
                            {% include "room_chat.html" %}
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% elif not _data['available']%}
            <div class="card border">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4>
                                Домашнее задание
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h2>Выполнение домашней работы недоступно.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card border">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4>
                                Домашнее задание
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h2>Для данного урока нет домашнего задания</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}