{% extends 'base.html' %}

{% block main_block %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="{{ url_for('static' , filename="js/datatables.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.0.2/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">


    {% if _data %}
        <h1 class="h3 mb-2">Список модулей курса "{{_course_name}}"</h1>
        {% for i_course in _data %}
            <div class="card boarder">
                <div class="card-header">
                    <h4>{{ i_course["name"] }}</h4>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 5%!important;"></th>
                            <th style="width:40%!important;">Наименование урока</th>
                            <th style="width:10%!important;">Ссылка</th>
                            <th style="width:15%!important;">Домашние задание</th>
                            <th style="width:10%!important;">Статус</th>
                            <th class="d-none d-md-table-cell" style="width:15%!important;">Срок доступа</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set id_course = request.args['id_course'] %}
                        {% if loop.first %}
                            {% set module_first = true %}
                        {% else %}
                            {% set module_first = false %}
                        {% endif %}
                        {% for i_lesson in i_course['lessons'] %}
                        <tr>
                            {% if (module_first or i_course['available']) %}
                                <td class="table-action">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-check-square align-middle me-2">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg>
                                </td>
                                <td>{{ i_lesson['name'] }}</td>
                                <td>
                                {% if i_lesson['id_room_chat'] is not none and _user['role'] != "superuser" %}
                                    <a href="/education_course/lesson?id_lesson={{ i_lesson['id'] }}&id_video=1&id_chat={{ i_lesson['id_room_chat'] }}">Выполнить</a>
                                {% else %}
                                    <a href="/education_course/lesson?id_lesson={{ i_lesson['id'] }}&id_video=1">Выполнить</a>
                                {% endif %}
                                </td>
                                <td style="text-align: center">
                                    <div style="display: inline-block" class="badge {% if i_lesson['task'] is not none %}
                                            {% if i_lesson['homework'] is not none %} bg-success {% else %} bg-warning {% endif %}
                                        {% else %} bg-secondary {% endif %} text-light bg-gradient">
                                                            {% if i_lesson['task'] is not none %}
                                                                {% if i_lesson['homework'] is not none %}
                                                                    Сдано: {{ i_lesson['homework']['date_delivery'] }}
                                                                {% else %}
                                                                    Не сдано
                                                                {% endif %}
                                                            {% else %}Нет домашнего задания{% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class='badge {% if i_lesson['homework']['status'] == "Принято" %} bg-success
                                    {% elif i_lesson['homework']['status'] == "Не проверено" %} bg-info
                                    {% elif i_lesson['homework']['status'] == "Не принято" %} bg-danger {% endif %} bg-gradient text-light'>
                                        {% if i_lesson['task'] is none %}<strong><hr></strong>{% elif i_lesson['homework']['status'] is not none %}{{ i_lesson['homework']['status'] }}{% endif %}
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    {% if module_first %}
                                        Неограничен
                                    {% else %}
                                        {% if _user['education_stream']['date_end'] %}
                                            {{ _user['education_stream']['date_end'] }}
                                        {% else %}
                                            {{ _user['education_module_expiration_date'] }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="table-action table-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-check-square align-middle me-2">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg>
                                </td>
                                <td class="table-warning">{{ i_lesson['name'] }}</td>
                                <td class="table-warning"><a href="{{ url_for('price_list') }}">Получить доступ</a></td>
                                <td class="table-warning">Нет домашнего задания</td>
                                <td class="table-warning"><strong><hr></strong></td>
                                <td class="d-none d-md-table-cell table-warning"><strong><hr></strong></td>
                            {% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <h2>Данная страница недоступна из-за отсутсвия нужного файла.</h2>
        </div>
    {% endif %}

{% endblock %}