{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Оформите подписку для доступа к программе "Я - НейроМама"</h1>
    <div class="row justify-content-center mt-3 mb-2">
        <div class="col-md-10">
            <div class="alert alert-primary alert-outline alert-dismissible" role="alert">
                <div class="alert-icon">
                    <i class="far fa-fw fa-bell"></i>
                </div>
                <div class="alert-message">
                    <strong>Внимание!</strong>
                        Для оплаты доступа на форме оплаты необходимо указать ваш email, который был использован для
                        регистрации на платформе. После получения оплаты мы откроем доступ в течении нескольких часов. <br>В случае каких-то
                        вопросов или проблем, пожалуйста, обратитесь в <a href="{{ _data['support_channel_link'] }}" target="_blank">Telegram</a>
                        канал поддержки и мы обязательно поможем. <a href="{{ url_for('education_list_courses')}}"><br>Вернуться к описанию
                        программы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-2">
        <div class="col-md-5">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column">
                    <div class="mb-5">
                        <h4><strong>Подписка на дополнительные курсы программы для самостоятельного изучения</strong></h4>
                        <span class="display-5">999 р</span><br>
                        <span>/месяц</span>
                    </div>
                    <h6><strong>Включает:</strong></h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            ✓ Интенсив «Занятия на балансире»
                        </li>
                        <li class="mb-2">
                            ✓ Вебинары со специалистами по запросу
                        </li>
                    </ul>
                    <h6><strong>Планируется:</strong></h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            ✓ Интенсив «Школа выживания при СДВГ»
                        </li>
                        <li class="mb-2">
                            ✓ Интенсив «Познаю Пространство»
                        </li>
                        <li class="mb-2">
                            ✓ Обзоры игр и пособий
                        </li>
                    </ul>
                    <div class="mt-auto">
                        <a href="{{ _data['subscription_payment_link'] }}" target="_blank" class="btn btn-lg btn-primary">Оплатить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column">
                    <div class="mb-4">
                        <h3><strong>Основной курс в рамках образовательного потока обучения с преподавателем</strong></h3>
                        <span class="display-5">20 000 р</span> <br>
                        <span>/2 месяца</span>
                    </div>
                    <h6><strong>Включает:</strong></h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Обучающий курс по нейродиагностике и коррекции с обратной связью
                        </li>
                        <li class="mb-2">
                            ✓ 8 модулей
                        </li>
                        <li class="mb-2">
                            ✓ 53 Видео-урока
                        </li>
                        <li class="mb-2">
                            ✓ Практические задания
                        </li>
                        <li class="mb-2">
                            ✓ Презентации
                        </li>
                        <li class="mb-2">
                            ✓ Методический материал
                        </li>
                        <li class="mb-2">
                            ✓ Диагностический материал
                        </li>
                        <li class="mb-2">
                            ✓ Закрытый чат для участников
                        </li>
                        <li class="mb-2">
                            ✓ Обратная связь от куратора
                        </li>
                        <li class="mb-2">
                            ✓ Видеоконференции по материалам с кураторами и с автором курса
                        </li>
                    </ul>
                    <div class="mt-auto">
                        <a href="{{ _data['subscription_payment_link'] }}" target="_blank" class="btn btn-lg btn-primary">Подписаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}