{% extends "base.html" %}
{% block main_block %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/select2.min.js"></script>
    <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/i18n/ru.js"></script>
    <link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">

    <script src="{{ url_for('static' , filename="js/datatables.js") }}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // DataTables with Buttons
        $("#students_table").DataTable({
            responsive: true,
            lengthChange: !1,
            pageLength : 10,
            paging: true,
            searching: true
            {#displayStart: {{ _num_page * 10 }}#}

        });
        $("#curators_table").DataTable({
            responsive: true,
            lengthChange: !1,
            pageLength : 10,
            paging: true,
            searching: true
            {#displayStart: {{ _num_page * 10 }}#}

        });
        var date_start = document.getElementById("date_start")
        var date_end = document.getElementById("date_end")

        flatpickr(date_start, {
            dateFormat: "d/m/Y",
            defaultDate: "{{ _education_stream['date_start'] }}"
        });
        flatpickr(date_end, {
            dateFormat: 'd/m/Y',
            defaultDate: "{{ _education_stream['date_end'] }}"
        });

    })
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        $(document).ready(function() {
            {#$('#teacher').select2({#}
            {#    placeholder: "Выберите преподавателя",#}
            {#    maximumSelectionLength: 2,#}
            {#    language: "ru",});#}
            const  teachers  =  new  Choices ( $ ( '#teacher' ) [ 0 ]) ;
            const  course_list  =  new  Choices ( $ ( '#course' ) [ 0 ] ) ;

        });
        $(document).ready(function() {
            {#$('#course_list').select2({#}
            {#    placeholder: "Выберите преподавателя",#}
            {#    maximumSelectionLength: 2,#}
            {#    language: "ru"});#}
        });
    </script>
    <script>
        var message = document.getElementById('message');
        window.onclick = function (event) {
            if (event.target === message) {
                message.style.display = "none";
            }
        }
    </script>
    <script>
    function checkData(form){
         var teacher = form.teacher.value;
         var date_start = form.date_start.value;
         var date_end = form.date_end.value;
         var name_stream = form.name_stream.value;
         var course = form.course.value;
         var text = "Заполнены не все обязательные поля"
         var message = document.getElementById('message');

         if (teacher === 'placeholder'){
             document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
             document.querySelector('p[id=text_message]').textContent = text;
             message.style.display = 'block'
             return false;
         }
         if (date_start === ''){
             document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
             document.querySelector('p[id=text_message]').textContent = text;
             message.style.display = 'block'
             return false;
         }
         if (date_end === ''){
             document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
             document.querySelector('p[id=text_message]').textContent = text;
             message.style.display = 'block'
             return false;
         }
         if (name_stream === ''){
             document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
             document.querySelector('p[id=text_message]').textContent = text;
             message.style.display = 'block'
             return false;
         }
         if (course === 'placeholder'){
             document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
             document.querySelector('p[id=text_message]').textContent = text;
             message.style.display = 'block'
             return false;
         }else {
             return true;
         }
     }
    </script>
    <style>
    .modal {
            display: none; /* Hidden by default */
            z-index: 99; /* Sit on top */
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        /* Modal Content/Box */
        .modal-content {

            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: gray;
            width: 80%; /* Could be more or less, depending on screen size */
            padding: 16px;
        }

        .modal-backdrop{
            display: none;
        }
        /* The Close Button (x) */

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
            .cancelbtn {
                width: 100%;
            }
        }

    </style>


    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">{% if _mode == "view" %}Просмотр {% elif _mode == "new" %}Создание
                {% else %}Редактирование {% endif %} карточки обучающего потока</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" onsubmit="return checkData(this);">
                            <div class="row d-flex align-items-stretch bd-highlight">
                                <div style="margin-right: 5px" class="col p-1 bd-highlight border">
                                    <div class="card d-flex align-self-baseline" style="margin-left: auto; margin-right: auto; ">
                                        <div class="card-header">
                                            <div class="mb-2">
                                                <label class="form-label"><strong>Название потока</strong></label>
                                                <input id="name_stream" name="name" class="form-control" {% if _mode == "view" %} disabled {% endif %}
                                                       {% if _mode == 'new' %}placeholder="Введите название потока.."{% else %} value="{{ _education_stream['name'] }}"{% endif %}>
                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label"><strong>Курс</strong></label>
                                                <select id="course" name="course" class="form-select"
                                                {% if _mode == 'view' %} disabled {% endif %}>
                                                    <option selected disabled value="placeholder">Выберите курс..</option>
                                                    {% for course in _courses_list %}
                                                        <option {% if course['id'] == _education_stream['course']['id'] %} selected {% endif %}
                                                                value="{{ course['id'] }}">{{ course['name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>Ученики</strong></label>
{#                                                <select id="students_list" name="students_list"#}
{#                                                        style="overflow-y: scroll;" class="form-select" multiple="multiple">#}
{#                                                    <option selected disabled value="">Выберите учеников..</option>#}
{#                                                    {% for student in _students_list %}#}
{#                                                        <option value="{{ student['login'] }}">{{ student['name'] }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
                                                <table id="students_table" class="table dataTable border display" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%" class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">#</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Login</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for student in _students_list %}
                                                        {% if _mode == 'new' or _mode == "view" and student['login'] in _education_stream['students_list'] or _mode == 'edit' %}
                                                        <tr class="even">
                                                            <td>
                                                                <input {% if _mode == "view" %} disabled {% endif %}
                                                                        {% if student['login'] in _education_stream['students_list'] %}checked {% endif %}
                                                                        name="{{ student['login'] }}" type="checkbox" value="{{ student['login'] }}">
                                                            </td>
                                                            <td>{{ student['login'] }}</td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-right: 5px" class="col p-1 bd-highlight border">
                                    <div class="card d-flex align-self-baseline" style="margin-left: auto; margin-right: auto; ">
                                        <div class="card-header">
                                            <div class="mb-4">

                                                <div class="" style="display: inline-grid;float: left">
                                                    <label class="form-label"><strong>Дата старта</strong></label>

                                                    <div class="input-group mb-3">
                                                        <input {% if _mode=='view' %} disabled {% endif %} id="date_start" name="date_start" type="date" class="form-control" {%
                                                            if _mode=="view" %}value="{{ _education_stream['date_start'] }}" {% endif %}>
                                                        <button class="btn btn-secondary" type="button"> </button>
                                                    </div>

                                                    
                                                </div>
                                                <div style="display:grid; justify-content: right">
                                                    <label class="form-label"><strong>Дата окончания</strong></label>

                                                    <div class="input-group mb-3">
                                                        <input {% if _mode == 'view' %} disabled {% endif %} id="date_end" name="date_end" type="date" class="form-control"
                                                            {% if _mode == "view" %}value="{{ _education_stream['date_end'] }}"{% endif %}>
                                                        <button class="btn btn-secondary" type="button"> </button>
                                                    </div>

                                                </div>
                                                
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>Преподаватель</strong></label>
                                                <select id="teacher" name="teacher" class="form-select"
                                                {% if _mode == "view" %} disabled {% endif %}>
                                                    <option selected disabled value="placeholder">Выберите преподавателя</option>
                                                    {% for teacher in _curators_list %}
                                                        <option {% if teacher['login'] == _education_stream['teacher'] %} selected {% endif %} value="{{ teacher['login'] }}">{{ teacher['login'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label"><strong>Кураторы</strong></label>
{#                                                <select id="curators_list" name="curators_list"#}
{#                                                        style="overflow-y: scroll;" class="form-select choices-multiple" multiple="multiple">#}
{#                                                    {% for curator in _curators_list %}#}
{#                                                        <option value="{{ curator['login'] }}">{{ curator['name'] }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
                                                <table id="curators_table" class="table dataTable border display">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%" class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">#</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Login</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for curator in _curators_list %}
                                                            {% if _mode == 'new' or _mode == "view" and curator['login'] in _education_stream['curators_list'] or _mode == 'edit' %}
                                                                <tr>
                                                                    <td><input {% if _mode == "view" %} disabled {% endif %}
                                                                            {% if curator['login'] in _education_stream['curators_list'] %}checked {% endif %}
                                                                            name="{{ curator['login'] }}" type="checkbox" value="{{ curator['login'] }}"></td>
                                                                    <td>{{ curator['login'] }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-stretch bd-highlight" style="margin-left: auto; margin-right: auto; ">
                                <div class="p-1" align="right">
                                    <button type="submit" name="button" value="{% if _mode == 'new' %}new{% elif _mode == "view" %}edit{% else %}save{% endif %}" class="btn btn-primary ">
                                        {% if _mode == 'new' %}Создать{% elif _mode == "view" %}Редактировать{% else %}Сохранить{% endif %}
                                    </button>
                                    <a href="{{ url_for('education_streams') }}" class="btn btn-primary cancelbtn">
                                        Отмена
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="message" class="modal">
            <div class="modal-content animate" style="width: 34%">
                <div class="row modal-header">
                    <h3 id="title_message" class="col modal-title">{% if _error_type == 'Successful' %}Успешно{% elif _error_type == 'Error' %}Ошибка{% endif %}</h3>
                    <button style="text-align: right;" data-bs-dismiss="modal" class="btn btn-close" type="button" onclick="document.getElementById('message').style.display='none';"></button>
                </div>
                <div class="modal-body row d-flex align-items-stretch bd-highlight">
                    <div class="col p-1 bd-highlight">
                        <div class="card d-flex align-self-baseline" style="height: 100%;">
                            <div class="card-header">
                                <p style="font-family: 'Helvetica', 'Arial', sans-serif; color: #000000; font-size: larger" id="text_message"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}