{% extends "base.html" %}
{% block main_block %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/select2.min.js"></script>
    <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/i18n/ru.js"></script>
    <link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">

    <script src="{{ url_for('static' , filename="js/datatables.js") }}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
{#        {% if _status_code == "Error" %}#}
{#            document.querySelector('h3[id=title_message]').textContent = 'Ошибка';#}
{#            document.querySelector('p[id=text_message]').textContent = "{{ _message_error }}";#}
{#            message.style.display = "block";#}
{#        {% elif _status_code == 'Successful' %}#}
{#            document.querySelector('h3[id=title_message]').textContent = 'Успешно';#}
{#            document.querySelector('p[id=text_message]').textContent = "{{ _message_error }}";#}
{#            message.style.display = "block";#}
{#        {% endif %}#}

        var students_table = $("#students_table").DataTable({
            responsive: true,
            lengthChange: !1,
            pageLength : 10,
            paging: true,
            searching: true
        });

        var curators_table = $("#curators_table").DataTable({
            responsive: true,
            lengthChange: !1,
            pageLength : 10,
            paging: true,
            searching: true
        });
        {% if _mode != 'view' %}
            {% for course in _courses_list %}
                $("#modules_courses_{{ course['id'] }}").DataTable({
                    responsive: true,
                    paging: false,
                    searching: false,
                    dom: "<'ui stackable grid'"+
                        "<'row'"+
                            "<'eight wide column'l>"+
                            "<'right aligned eight wide column'f>"+
                        ">"+
                        "<'row dt-table'"+
                            "<'sixteen wide column'tr>"+
                        ">"+
                        "<'row'"+
                            "<'right aligned nine wide column'p>"+
                        ">"+
                    ">"
                });
            {% endfor %}
        {% else %}
            $("#modules_courses").DataTable({
                    responsive: true,
                    paging: false,
                    searching: false,
                    dom: "<'ui stackable grid'"+
                        "<'row'"+
                            "<'eight wide column'l>"+
                            "<'right aligned eight wide column'f>"+
                        ">"+
                        "<'row dt-table'"+
                            "<'sixteen wide column'tr>"+
                        ">"+
                        "<'row'"+
                            "<'right aligned nine wide column'p>"+
                        ">"+
                    ">"
                });
        {% endif %}
        // перед отправкой данных, ищем всех отмеченных кураторов и студентов, а после проверяем данные
        $('#stream_data').on('submit', function(e) {
            var form = this;
            var students_params = students_table.$('input').serializeArray();
            var curators_params = curators_table.$('input').serializeArray();

            // Перебираем все элементы таблицы со студентами
            $.each(students_params, function(){
            // Если элемента нет в DOM
                if(!$.contains(document, form[this.name])){
                // Создаем скрытый элемент input и вносим значение
                    $(form).append(
                       $('<input>')
                          .attr('type', 'hidden')
                          .attr('name', this.name)
                          .val(this.value)
                    );
                }
            });

            // Перебираем все элементы таблицы со студентами
            $.each(curators_params, function(){
            // Если элемента нет в DOM
                if(!$.contains(document, form[this.name])){
                // Создаем скрытый элемент input и вносим значение
                    $(form).append(
                       $('<input>')
                          .attr('type', 'hidden')
                          .attr('name', this.name)
                          .val(this.value)
                    );
                }
            });

            // Далее проверяем заполнены ли основные элементы
            return checkData(form);
        })
        var date_start = document.getElementById("date_start")
        var date_end = document.getElementById("date_end")

        flatpickr(date_start, {
            dateFormat: "d/m/Y",
            wrap: true,
            disableMobile: "true"
        });
        flatpickr(date_end, {
            dateFormat: "d/m/Y",
            wrap: true,
            disableMobile: "true"
        });

        $('#course').change(function(){
            var val = $(this).val();
            //если элемент с id равным значению #course существует
            if($('#' + val).length){
             //скрываем все модули курсов
                $('#modules table').hide();
            //показываем нужный
                $('#' + val).show();
            //в противном случае, если значение равняется "all"
            }else{
            //скрыть все курсы
             $('#modules table').hide();
            }
        })

        {% for course in _courses_list %}
            {% for module in course['modules'] %}
                var date_start_module_{{ module['id'] }} = document.getElementById("date_start_module_{{ module['id'] }}")
                flatpickr(date_start_module_{{ module['id'] }}, {
                    dateFormat: "d/m/Y",
                    wrap: true,
                    disableMobile: "true"
                });
            {% endfor %}
        {% endfor %}
    })
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        var message = document.getElementById('message');
        window.onclick = function (event) {
            if (event.target === message) {
                message.style.display = "none";
            }
        }
    </script>
    <script>
    function checkData(form){
        const formData = document.forms.stream_data;
        const teacher = formData.elements.teacher.value;
        const date_start = formData.elements.date_start.value;
        const date_end = formData.elements.date_ends.value;
        const name_stream = formData.elements.name_stream.value;
        const course = formData.elements.course.value;
        const message = document.getElementById('message');

         if (teacher === 'placeholder'){
             document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
             document.querySelector('p[id=text_message]').textContent = "{{_("Выберите учителя данного потока.")}}";
             message.style.display = 'block'
             return false;
         }
         if (date_start === ''){
             document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
             document.querySelector('p[id=text_message]').textContent = '{{_("Выберите дату начала обучения данного потока.")}}';
             message.style.display = 'block'
             return false;
         }
         if (date_end === ''){
             document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
             document.querySelector('p[id=text_message]').textContent = '{{_("Выберите дату окончания обучения данного потока.")}}';
             message.style.display = 'block'
             return false;
         }
         if (name_stream === ''){
             document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
             document.querySelector('p[id=text_message]').textContent = '{{_("Введите название для данного потока.")}}';
             message.style.display = 'block'
             return false;
         }
         if (course === 'placeholder'){
             document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
             document.querySelector('p[id=text_message]').textContent = '{{_("Выберите курс для данного потока.")}}';
             message.style.display = 'block'
             return false;
         }else {
             return true;
         }
     }
    </script>
    <style>

    .choices__list, .choices__list--dropdown, .is-active{
        z-index: 37!important;
    }

    </style>


    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">{% if _mode == "view" %}{{_("Просмотр")}} {% elif _mode == "new" %}{{_("Создание")}}
                {% else %}{{_("Редактирование")}} {% endif %} {{_("карточки обучающего потока")}}</h1>
        </div>
        {% if _status_code=='Successful' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{_("Успешно")}}</strong> {{ _message_error }}
                </div>
            </div>
        {% elif _status_code=='Error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{_("Ошибка")}}</strong> {{ _message_error }}
                </div>
            </div>
        {% endif %}

        <form id="stream_data" name="stream_data" method="post" enctype="multipart/form-data">
        
            <div class="row">
                <div class="col-12 col-xl-6">
                    <fieldset {% if _mode == 'view' %} disabled {% endif %}>
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Название потока")}}</strong></label>
                                <input id="name_stream" name="name" class="form-control" {% if _mode=='new' %} placeholder="Введите название потока.."
                                {% else %} value="{{ _education_stream['name'] }}" {% endif %}>
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Курс")}}</strong></label>
                                <select id="course" name="course" class="form-select" {% if _mode == 'view' %} disabled {% endif %}  style="z-index: auto">
                                    {% if _mode == 'new' %}<option selected disabled value="placeholder">{{_("Выберите курс")}}..</option>{% endif %}
                                    {% for course in _courses_list %}
                                    <option {% if course['id']==_education_stream['course']['id'] %} selected {% endif %}
                                        value="modules_courses_{{ course['id'] }}">{{ course['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Преподаватель")}}</strong></label>
                                <select id="teacher" name="teacher" class="form-select" {% if _mode == 'view' %} disabled {% endif %}>
                                    {% if _mode != 'view' %}
                                        <option selected disabled value="placeholder">{{_("Выберите преподавателя")}}</option>
                                        {% for teacher in _curators_list %}
                                            <option {% if teacher['id']==_education_stream['teacher']['id'] %} selected {% endif %}
                                                value="{{ teacher['id'] }}">{{ teacher['login'] }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option selected value="{{ _education_stream['teacher']['id'] }}">{{ _education_stream['teacher']['login'] }}</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-6" style="display: inline-grid;float: left">
                                    <label class="form-label"><strong>{{_("Дата старта")}}</strong></label>

                                    <div id="date_start" class="flatpickr input-group mb-3">
                                        <input name="date_start" type="text"
                                            class="form-control" value="{{ _education_stream['date_start'] }}" data-input>
                                        <a class="input-button btn btn-secondary dropdown-toggle" title="toggle" type="button" data-toggle> </a>
                                    </div>

                                </div>
                                <div class="col-sm-6" style="display: block; justify-content: right">
                                    <label class="form-label"><strong>{{_("Дата окончания")}}</strong></label>

                                    <div id="date_end" class="flatpickr input-group mb-3">
                                        <input name="date_ends" type="text"
                                            class="form-control" value="{{ _education_stream['date_end'] }}" data-input>
                                        <a class="input-button btn btn-secondary dropdown-toggle" title="toggle" type="button" data-toggle> </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </fieldset>
                </div>

                    <div class="col-12 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-2">
                                    <label class="form-label"><strong>{{_("Кураторы")}}</strong></label>
                                    <table id="curators_table" class="table table-striped dataTable no-footer dtr-inline"
                                       style="width:100%; font-size: 13px">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%" class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1"
                                                    colspan="1">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Login</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">
                                                    {{_("Имя пользователя")}}</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for curator in _curators_list %}
                                            <tr>
                                                <td>
                                                    <input {% if _mode=='view' %} disabled {% endif %}
                                                            {% if _mode != 'new' %}{% if curator['id'] in _education_stream['curators_list'] %}checked {% endif %}{% endif %}
                                                            name="user_{{ curator['id'] }}" type="checkbox" value="{{ curator['id'] }}">
                                                </td>
                                                <td>{{ curator['login'] }}</td>
                                                <td>{{ curator['name'] }}</td>
                                                <td>{{ curator['email'] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <label class="form-label"><strong>{{_("Доступные модули")}}</strong></label>
                            <div id="modules">
                            {% if _mode != 'view' %}
                                {% for course in _courses_list %}
                                    <table id="modules_courses_{{ course['id'] }}" class="table table-striped dataTable display"
                                           style="width: 100%; font-size: 13px; {% if _education_stream['course']['id'] != course['id'] %}display: none{% endif %}">
                                        <thead>
                                            <tr>
{#                                                <th class="sorting" style="width: 5%!important;" tabindex="0" aria-controls="datatables-buttons"#}
{#                                                    rowspan="1" colspan="1">#</th>#}
                                                <th class="sorting" style="width: 50%;max-width: 60%;" tabindex="0" aria-controls="datatables-buttons"
                                                    rowspan="1" colspan="1">{{_("Название модуля")}}</th>
                                                <th class="sorting" style="width: 40%;max-width: 50%;" tabindex="0" aria-controls="datatables-buttons"
                                                    rowspan="1" colspan="1">{{_("Дата начала")}}</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for module in course['modules'] %}
                                                <tr>
{#                                                <td></td>#}
                                                    <td>{{ module['name'] }}</td>
                                                    <td>
                                                        <div id="date_start_module_{{ module['id'] }}" class="flatpickr input-group">
                                                            <input name="date_start_module_{{ module['id'] }}" type="text"
                                                                   class="form-control"
                                                                   value="{% if module['date_start'] %}{{ module['date_start'] }}{% else %}{{ _education_stream['date_start'] }}{% endif %}" data-input>
                                                            <a class="input-button btn btn-secondary dropdown-toggle" title="toggle" type="button" data-toggle></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% elif _mode == 'view' %}
                                <table id="modules_courses" class="table table-striped dataTable display"
                                       style="width: 100%; font-size: 13px;">
                                    <thead>
                                        <tr>
{#                                            <th class="sorting" style="width: 0" tabindex="0" aria-controls="datatables-buttons"#}
{#                                                    rowspan="1" colspan="1">#</th>#}
                                            <th class="sorting" tabindex="0" style="width: 70%!important;" aria-controls="datatables-buttons" rowspan="1"
                                                colspan="1">{{_("Название модуля")}}</th>
                                            <th class="sorting" tabindex="0" style="width: 30%!important;" aria-controls="datatables-buttons"
                                                rowspan="1" colspan="1">{{_("Дата начала")}}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for timetable in _timetables_list %}
                                            <tr>
{#                                            <td></td>#}
                                                <td>
                                                    {{ timetable['module']['name'] }}
                                                </td>
                                                <td>
                                                    <div id="date_start_module_{{ timetable['module']['id'] }}" class="flatpickr input-group">
                                                        <input disabled name="date_end" type="text"
                                                            class="form-control" value="{{ timetable['date_start'] }}" data-input>
                                                        <a class="input-button btn btn-secondary dropdown-toggle" title="toggle" type="button" data-toggle></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Ученики")}}</strong></label>
                            {% if _students_list != [] %}
                                <table id="students_table" class="table table-striped dataTable no-footer dtr-inline"
                                       style="width:100%; font-size: 13px">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%" class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1"
                                                colspan="1">#</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Login</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">
                                                {{_("Имя пользователя")}}</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in _students_list %}

                                        <tr class="even">
                                            <td>
                                                <input {% if _mode=="view" %} disabled {% endif %} {% if _mode != 'new' %} {% if student['id'] in
                                                    _education_stream['students_list'] %}checked {% endif %} {% endif %} id="user_{{ student['id'] }}" name="user_{{ student['id'] }}"
                                                    type="checkbox" value="{{ student['id'] }}">
                                            </td>
                                            <td>{{ student['login'] }}</td>
                                            <td>{{ student['name'] }}</td>
                                            <td>{{ student['email'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center">
                                    {% if _mode == 'view' %}
                                        <h2>{{_("В этом потоке нет учеников")}}.</h2>
                                    {% endif %}
                                </div>
                            {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex align-items-stretch bd-highlight" style="margin-left: auto; margin-right: auto; ">
                <div class="p-1" align="right">
                    <button type="submit" name="button" value="{% if _mode == 'new' %}new{% elif _mode == "view" %}edit{% else %}save{% endif %}" class="btn btn-primary ">
                        {% if _mode == 'new' %}{{_("Создать")}}{% elif _mode == "view" %}{{_("Редактировать")}}{% else %}{{_("Сохранить")}}{% endif %}
                    </button>
                    <a href="{{ url_for('multilingual.education_streams') }}" class="btn btn-primary cancelbtn">
                        {{_("Отмена")}}
                    </a>
                </div>
            </div>

        </form>

        {% include "message_form.html" %}

    </div>
{% endblock %}