{% extends 'base.html' %}

{% block main_block %}
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <script>
    $( document ).ready(function() {
        var quill = new Quill('#editor', {
        theme: 'snow'
        });
    });
    </script>

    <style>
    .card{
        border: #0a0a0a;
    }
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .word {
        width: 35px;
    }
    .pdf {
        width: 30px;
    }
    </style>

    <h1 class="h3 mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('education_main_courses') }}">Школа нейропсихологии</a></li>
                <li class="breadcrumb-item">{{ _data['name'] }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ _data['lesson']['name'] }}</li>
            </ol>
        </nav>
    </h1>

    <div class="container-fluid p-0">
    
        <div class="card border">
            <div class="card-header">
                <h4>
                    Материалы урока
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 text-left">
                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                <div style="width: 740px; height: 364px">
                                    <iframe class="responsive-iframe" src="https://player.vimeo.com/video/702701090?h=0b7cccca2c" frameborder="0"
                                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="card py-1 py-md-1 border">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;"></th>
                                            <th style="width:70%;">Статус обучения</th>
                                            <th style="width:25%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-calendar-alt"></i>
                                            </td>
                                            <td>Срок выполнения</td>
                                            <td class="d-none d-md-table-cell">Июнь 21, 1961</td>
                                        </tr>
                                        <tr>
                                            <td class="table-action">
                                                <i class="align-middle me-2 fas fa-fw fa-couch"></i>
                                            </td>
                                            <td>Домашнее задание</td>
                                            <td class="d-none d-md-table-cell">Выполнено</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        {% if _data['lesson']['materials'] %}
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;"></th>
                                                <th style="width:70%;">Дополнительные материалы</th>
                                                <th style="width:25%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i_materials in _data['lesson']['materials'] %}
                                            {% set type = i_materials.split('.')[-1] %}
                                            {% set name_file = i_materials.split('/')[-1].split('.')[0] %}
                                            <tr>
                                                <td class="table-action">
                                                    <img class="{% if type == 'pdf' %}pdf{% else %}word{% endif %}"
                                                         src="{% if type == 'pdf' %}/static/img/icons/icon_pdf.png{% else %}/static/img/icons/icon_word.png{% endif %}">
                                                </td>
                                                <td>{{ name_file }}</td>
                                                <td><a download=""
                                                        href="{{ i_materials }} ">Файл</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                        {% if _data['lesson']['text'] %}
                            <div class="col-md-5 text-left">
                                <div class="card py-1 py-md-1 border">
                                    <div class="card-body">
                                        <p style="white-space: pre-line; margin-top: -4em; margin-bottom: 0em; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; color: #0a0a0a;">
                                            {{ _data['lesson']['text'] }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                </div>
                
            </div>
        </div>

                    
        {% if _data['lesson']['task'] %}
            <div class="card border">
                <div class="card-header">
                    <h4>
                        Домашнее задание
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="card py-1 py-md-1 border">
                                <div class="card-body">
                                    <p style="margin-top: -4em; margin-bottom: 0em;white-space: pre-line; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; color: #0a0a0a">
                                    {{ _data['lesson']['task'] }}
                                </p>
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-stretch bd-highlight" align="right">
                            <div class="col-12 p-2 bd-highlight">
                                <div class="card d-flex align-self-baseline">
                                    <div class="card-header">
                                        <a type="submit" name="button" href="{{ url_for('user_manager') }}" class="btn btn-primary ">
                                            Сохранить
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}