<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">

{#<div style="display: flex; justify-content: center">#}
{#    <div class="card-img">#}
{#        <img src="https://app.neurohealth.care/static/img/logo/nhc_logo_flat.png" type="image/png" style="display: block" width="50%" alt="">#}
{#    </div>#}
{#    <div class="card-body">#}
{#        <p>Добро пожаловать на платформу NeuroHealth.Care! Ваша учетная запись создана. Для начала работы, пожалуйста, подтвердите ваш email перейдя по ссылке:</p>#}
{#        <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>#}
{#        <br>#}
{#        <p>Спасибо!</p>#}
{#    </div>#}
{#</div>#}

<div style="background-color: #f8f8f8; width: 100%; border: 0;">
    <table style="margin: auto">
        <tbody>
        <tr>
            <td>
                <table style="width: 100%; max-width: 600px; background-color: #ffffff; margin: 0">
                    <tbody>
                    <tr>
                        <td>
                            <div style="vertical-align: middle; text-align: center; width: 100%; margin: auto">
                                <img align="middle" src="https://app.neurohealth.care/static/img/logo/nhc_logo_flat.png"
                                     type="image/png" width="100%" alt="" style="display: inline;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center; font-size: 15px">
                                {{ text }}
                                <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
                                <p>{{ footer }}</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>

        </tbody>
    </table>
</div>

{#<div style="background: #f8f8f8; margin: 0">#}
{#    <div style="vertical-align: middle; text-align: center">#}
{#        <img align="middle" src="https://app.neurohealth.care/static/img/logo/nhc_logo_flat.png"#}
{#             type="image/png" width="25%" alt="" style="display: inline; margin: 0">#}
{#    </div>#}
{#    <div style="text-align: center; white-space: pre-line; background: white; margin-left: 25%; margin-right: 25%">#}
{#        {{ text }}#}
{#        <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>#}
{#        <br>#}
{#        <p>{{ footer }}</p>#}
{#    </div>#}
{#</div>#}