<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">

{#<div style="display: flex; justify-content: center">#}
{#    <div class="card-img">#}
{#        <img src="https://app.neurohealth.care/static/img/logo/nhc_logo_flat.png" type="image/png" style="display: block" width="50%" alt="">#}
{#    </div>#}
{#    <div class="card-body">#}
{#        <p>Добро пожаловать на платформу NeuroHealth.Care! Ваша учетная запись создана. Для начала работы, пожалуйста, подтвердите ваш email перейдя по ссылке:</p>#}
{#        <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>#}
{#        <br>#}
{#        <p>Спасибо!</p>#}
{#    </div>#}
{#</div>#}

<table>
    <thead>
    <tr>
        <th style="width: 25%" rowspan="1" colspan="1"></th>
        <th style="width: 50%" rowspan="1" colspan="1"></th>
        <th style="width: 25%" rowspan="1" colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>
            <div style="vertical-align: middle; text-align: center">
                <img align="middle" src="https://app.neurohealth.care/static/img/logo/nhc_logo_flat.png"
                     type="image/png" width="100%" alt="" style="display: block; margin: 0">
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div style="text-align: center">
                <p>Добро пожаловать на платформу NeuroHealth.Care! Ваша учетная запись создана. Для начала работы,
                    пожалуйста, подтвердите ваш email перейдя по ссылке:</p>
                <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
                <br>
                <p>Спасибо!</p>
            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>