{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">В разработке</h1>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/static/img/photos/204516408_S.jpg" alt="В разработке">
                    
                </div>
                <div class="card-body ">
                    <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Присоединиться к проекту</a>
                </div>
                <div class="card-body">
                    Web site:
                    <a href="https:/neurohealth.care">https://neurohealth.care</a>
                </div>
                <div class="card-body">
                    Source code:
                    <a href="https://github.com/denisafanasev/neurohealth.care">https://github.com/denisafanasev/neurohealth.care</a>
                </div>
                <div class="card-body">
                    Slack для разработчиков:
                    <a href="https://neurohealthcare.slack.com/">https://neurohealthcare.slack.com/</a>
                </div>
                <div class="card-body">
                    Оператор платформы:<br>
                    <a href="http://10xt.tech">
                        <img width="50px" src="/static/img/logo/10xT_logo.png" alt="В разработке">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    <p><h2 class="text-primary text-center"><strong>NeuroHealth.Care: Технологии AI и Web3.0 для развития мозга и когнитивных способностей</strong></h5></p>
                    
                    <p><h4 class="text-primary text-center"><strong>Наша миссия - с помощью современных технологий AI и Web3.0 способствовать развитию практики тренировки когнитивных
                    способностей детей, развитию исследований и созданию образовательных материалов в этой области</strong></h4></p>
                    
                    <p>NeuroHealth.Care это открытая open-source web3.0 платформа для взаимодействия педагогов и исследователей в области
                    нейропсихологии и родителей, которые хотят развивать когнитивные способности своих детей, закладывая в них основу для
                    успешной жизни и когнитивного здоровья. Платформа предоставляет сервисы для:</p>
                    
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item"><strong>- Обучения</strong> - родителей практикам развития когнитивных способностей своих детей, проведению диагностики и основам нейропсихологии.
                        Данный модель позволяет авторам образовательного контента монетизировать свои материалы и создавать новые, развивая и
                        совершенствуя практики и материалы</li>
                        
                        <li class="list-group-item"><strong>- Развития</strong> - когнитивных способностей, проведения нейропсихологической диагностики, анализа и интерпретации результатов, формированию
                        индивидуальной программы развития ребенка и помощи в регулярных занятиях для нейропсихологической коррекции с помощью
                        методов Искусственного Интеллекта и персонализации</li>
                        
                        <li class="list-group-item"><strong>- Исследований</strong> - в области нейропсихологии, которые получают доступ к уникальным данным для анализа и исследований, которые позволяют
                        разработать новые практики и методы нейропсихологического развития</li>

                    </ul>

                    <p><h4 class="text-primary"><strong>Наши принципы:</strong></h4></p>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>- Открытость: </strong>код платформы открыт, развивается за счет усилий сообщества разработчиков, которые вносят свой вклад в ее развитие</li>
                        <li class="list-group-item"><strong>- Взаимодействие: </strong>платформа объединяет усилия разработчиков, педагогов, исследователей и родителей
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>- Разработчики</strong> - вносят свой вклад в развитие и функционирования платформы, получают вознаграждение за каждую строчку кода и серверное
                                    время
                                </li>
                                <li class="list-group-item">
                                    <strong>- Педагоги</strong> - вносят свой вклад в развитие обучающих материалов и обучение родителей, получают вознаграждение за каждый пройденный
                                    урок
                                </li>
                                <li class="list-group-item">
                                    <strong>- Исследователи</strong> - вносят свой вклад в развитие методов диагностики и нейропсихологической коррекции и диагностики, получают вознаграждение
                                    за применение методик в ежедневной практике родителей
                                </li>
                                <li class="list-group-item">
                                    <strong>- Родители</strong> - вносят свой вклад в сбор данных для исследований путем проведения регулярной диагностики и работы со своими детьми,
                                    получают вознаграждение за использование данных в исследованиях и создания новых методик и материалов
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item"><strong>- Справедливость: </strong>за счет технологий Web3.0 платформа обеспечивает справедливое распределение ценностей между всеми участниками согласно
                        вложенным усилиям: за каждую строчку кода, за каждый просмотр урока, за каждое проведенное занятие и тест, за каждое
                        выполнение упражнений и методик
                        </li>
                    </ul>
                    
                    <p><h3 class="text-primary text-center">Сейчас мы в начале пути, мы запустили только первую версию модуля обучения, для того, что бы как можно скорее начать
                    создавать основу для формирования сообщества и развития платформы, но впереди еще много работы. Если вы хотите
                    присоединиться к сообществу в качестве разработчика, педагога, родителя или исследователями: напишите нам.</p></h3>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}