{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Центр развития</h1>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="/static/img/photos/204516408_S.jpg" alt="В разработке">
                    
                </div>
                <div class="card-body ">
                    <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Присоединиться к проекту</a>
                </div>
                <div class="card-body">
                    Source code:
                    <a href="https://github.com/denisafanasev/neurohealth.care">https://github.com/denisafanasev/neurohealth.care</a>
                </div>
                <div class="card-body">
                    Оператор платформы:<br>
                    <a href="http://10xt.tech">
                        <img width="50px" src="/static/img/logo/10xT_logo.png" alt="В разработке">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    <p><h2 class="text-primary text-center"><strong>NeuroHealth.Care: технологии ИИ и Web3.0 для развития мозга и когнитивного здоровья</strong></h5></p>

                    <p><h4>Наш мозг управляет нашей жизнью и развитие мозга наших детей является основной когнитивного здоровья всего человечества
                    в будущем</h4></p>
                    
                    <p>Ежедневно новые нейронаучные исследования доказывают пластичность мозга и причину того, почему так важно поддерживать
                    его в наилучшей форме. Мы используем наш мозг ежедневно. Это такой орган, который должен быть натренирован как мышца для
                    того, чтобы поддерживать его пластичность. И особенно важно делать это в юном возрасте за счет регулярного развития когнитивных способностей на основе методов нейропсихологической
                    диагностики и коррекции. Но тренировка мозга это ежедневная работа требующая навыков и применения правильных методик и
                    практик, выбор которых основывается на тренировке и диагностики.</p>
                    
                    <p><h4 class="text-primary"><strong>Наша миссия - с помощью современных технологий ИИ и Web3.0 способствовать развитию практики тренировки когнитивных
                    способностей детей, развитию исследований и образовательных материалов в этой области.</strong></h4></p>
                    
                    <p>NeuroHealth.Care это открытая open-source web3.0 платформа для взаимодействия педагогов и исследователей в области
                    нейропсихологии и родителей, которые хотят развивать когнитивные способности своих детей, закладывая в них основу для
                    успешной жизни и когнитивного здоровья. Платформа предоставляет сервисы:</p>
                    
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item"><strong>- Обучения</strong> - для обучения родителей практикам развития когнитивных способностей своих детей, проведению диагностики и
                        основам нейропсихологии. Данный модель позволяет авторам образовательного контента монетизировать свои материалы и
                        создавать новые, развивая и совершенствуя практики и материалы</li>
                        
                        <li class="list-group-item"><strong>- Развития</strong> - для проведения нейропсихологической диагностики, анализа и интерпретации результатов, формированию
                        индивидуальной программы развития ребенка и помощи в регулярных занятиях для нейропсихологической коррекции с помощью
                        методов Исскуственного Интеллекта и персонализации.</li>
                        
                        <li class="list-group-item"><strong>- Исследований</strong> - для исследователей в области нейропсихологии, которые получают доступ к уникальным данным для анализа и
                        исследований, которые позволяют разработать новые практики и методы нейропсихологического развития</li>

                    </ul>

                    <p><h4 class="text-primary"><strong>Принципы работы и развития платформы:</strong></h4></p>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>- Открытый код: </strong>код платформы открыт, развивается за счет усилий сообщества разработчиков, которые вносят свой вклад в
                        ее развитие</li>
                        <li class="list-group-item"><strong>- Конвергенция участников: </strong>платформа объединяет усилия разработчиков, педагогов, исследоватей и родителей.
                        - Разработчики - вносят свой вклад в развитие и функционирования платформы
                        - Педагоги - вносят свой вклад в развитие обучающих материалов и обучение родителей
                        - Исследователи - вносят свой вклад в развитие методов диагностики и нейропсихологической коррекции и диагностики
                        - Родители - вносят свой вклад в сбор данных для исследований путем проведения регулярной диагностики и работы со своими детьми
                        </li>
                        <li class="list-group-item"><strong>- Справедливое распределение ценностей: </strong>за счет технологий Web3.0 платформа обеспечивает справедливое распределение
                        ценностей между всеми участниками согласно вложенным усилиям: за каждую строчку кода, за каждый просмотр урока, за
                        каждое проведенное занятие и тест, за каждое выполнение упражнений и методик.
                        </li>
                    </ul>
                    
                    <p><h3 class="text-primary text-center">Сейчас мы в начале пути, мы запустили только первую версию модуля обучения, для того, что бы как можно скорее начать
                    создавать основу для формирования сообщества и развития платформы, но впереди еще много работы. Если вы хотите
                    присоединиться к сообществу в качестве разработчика, педагога, родителя или исследователями: напишите нам.</p></h3>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}