{% extends 'base.html' %}

{% block main_block %}
    <script src="{{ url_for('static' , filename="js/nhc_utils.js") }}" type="text/javascript"></script>
{#    <script>#}
{#        document.addEventListener("DOMContentLoaded", function () {#}
{#        });#}
{#    </script>#}
    <script>
        var modal_reset = document.getElementById('discharge');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === modal_reset) {
                modal_reset.style.display = "none";
            }
        }
    </script>
    <script>
        function checkCurrentPassword(form) {
            const current_password = form.current_password.value;
            const message = document.getElementById('message');
            if (current_password === '') {
                document.querySelector('h3[id=title_message]').textContent = 'Ошибка';
                document.querySelector('p[id=text_message]').textContent = "Введите текущий пароль пользователя.";
                message.style.display = "block";
                return false;
            }

            return checkPasswordsMatched(form);
        }
    </script>
    <style>
        .table th {
            width: 40% !important;
        }
    </style>
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">{{ _("Рабочий стол") }}</h1>
        {% if _status_code=='Successful' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{ _("Успешно") }}</strong> {{ _message_error }}
                </div>
            </div>
        {% elif _status_code=='Error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{ _("Ошибка") }}</strong> {{ _message_error }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="card">
                    <img class="card-img-top" src="/static/img/photos/370212158_SS.png" alt="Обучение">
                    <div class="card-header">
                        <h5 class="card-title mb-0"><a
                                href="{{ url_for('multilingual.education_list_courses') }}">{{ _("Центр обучения") }}</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ _("В центре обучения доступны образовательные программы, курсы и обучающие
                            материалы по
                            нейропсихологии, процессу тестирования и проведения развивающих занятий и упражнений. Сейчас на
                            платформе вам доступны:") }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            <li class="list-group-item"><strong>1</strong> {{ _("образовательная программа") }} <a
                                    href="{{ url_for('multilingual.education_list_courses') }}">{{ _('"Я
                            - НейроМама"') }}</a></li>
                            <li class="list-group-item"><strong>3</strong> {{ _('образовательных курса') }}</li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{{ _("Мой профиль") }}</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm mt-2 mb-4" style="table-layout: fixed; margin: 0px">
                            <tbody>
                            <tr>
                                <th>{{ _('Имя') }}</th>
                                <td>{{ _user["name"] }}</td>
                            </tr>
                            <tr>
                                <th>{{ _("Логин") }}</th>
                                <td>{{ _user["login"] }}</td>
                            </tr>
                            <tr>
                                <th>{{ _("Пароль") }}</th>
                                <td><a href="#" onclick="document.getElementById('reset').style.display='block'"
                                       type="submit">{{ _("сменить
                                        пароль") }}</a></td>
                            </tr>
                            <tr>
                                <th>{{ _("Email") }}</th>
                                <td>{{ _user["email"] }}</td>
                            </tr>
                            <tr>
                                <th>{{ _("Роль в системе") }}</th>
                                <td>{{ _user["role"] }}</td>
                            </tr>
                            <tr>
                                <th>{{ _("Окончание подписки") }}</th>
                                <td>{{ _user["education_module_expiration_date"] }}</td>
                            </tr>
                            <tr>
                                <th>{{ _("Центр обучения") }}</th>
                                <td>
                                    {% if _user['active_education_module'] == 'active' or
                                    _user['active_education_module'] == 'ends' %}
                                        <span class="badge bg-success">{{ _("Доступно") }}</span>
                                    {% elif _user['active_education_module'] == 'inactive' %}
                                        <span class="badge bg-warning">{{ _('Ограничено') }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ _('Центр развития') }}</th>
                                <td><span class="badge bg-danger">{{ _("Недоступно") }}</span></td>
                            </tr>
                            </tbody>
                        </table>

                        <strong>{{ _("Мои обучающие потоки") }}</strong>

                        <table class="table table-sm mt-2 mb-4" style="table-layout: fixed; margin: 0">
                            <tbody>
                            {% for education_stream in _education_streams_list %}
                                <tr>
                                    <th style="width: 50%">
                                        <a href="{{ url_for('multilingual.education_course', id_course=education_stream['course_id']) }}">{{ education_stream['name'] }}</a>
                                    </th>
                                    {#                                    <td style="text-align: center">{{ education_stream['status'] }}</td>#}
                                    <td style="width: 25%;">
                                        <div class='badge {% if education_stream['status'] == "идет" %} bg-success
                                                            {% elif education_stream['status'] == "запланирован" %} bg-info
                                                            {% elif education_stream['status'] == "закончен" %} bg-danger {% endif %} bg-gradient text-light'
                                             style="display: block;text-align: center; margin-right: 15%">
                                            {{ education_stream['status'] }}
                                        </div>
                                    </td>
                                    <td style="text-align: center; width: 25%">
                                        {{ education_stream['date_end'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if _user['role'] != 'superuser' %}
                            {% if _progress_list != [] %}
                                <strong>{{ _("Мой прогресс") }}</strong>

                                <table class="table table-sm mt-2 mb-4" style="table-layout: fixed; margin: 0">
                                    <tbody>
                                    {% for progress in _progress_list %}
                                        <tr>
                                            <th style="width: 70%;">
                                                {{ progress['name_course'] }}
                                            </th>

                                            <td style="width: 30%">{{_("Cдано")}}:{{ progress['count_accepted_homework'] }} /
                                                {{_("Не сдано")}}: {{ progress['count_no_accepted_homework'] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endif %}

                        <strong>{{ _('Лента активностей') }}</strong>

                        <ul class="timeline mt-2 mb-0">
                            {% for item in _data %}
                                <li class="timeline-item"></li>
                                <span class="float-end text-muted text-sm">{{ item['timedelta'] }}</span>
                                <strong>{{ item["action"] }}</strong>
                                <p>{{ item['comment_action'] }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="reset" class="modal">
            <div class="modal-content animate" style="width: 20%">
                <h3 class="modal-title">{{ _('Сброс пароля') }}</h3>
                {% if _error_type == "Error" %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="alert-message">
                            <strong>{{ _('Ошибка') }}</strong> {{ _error }}
                        </div>
                    </div>
                {% endif %}
                <form id="discharge_user" name="discharge_user" method="post" enctype="multipart/form-data"
                      onsubmit="return checkCurrentPassword(this);">
                    <div class="card d-flex align-self-baseline border" style="margin-left: auto; margin-right: auto; ">
                        <div class="card-header">
                            <div class="mb-2">
                                <label class="form-label"><strong>{{ _('Текущий пароль') }}</strong></label>
                                <div class="password">
                                    <input id="current_password" type="password" name="current_password"
                                           class="form-control" placeholder="{{ _("Введите пароль") }}">
                                    <div style="float: right"><a class="current-password-control"></a></div>
                                </div>
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{ _("Пароль") }}</strong></label>
                                <div class="password">
                                    <input id="password" type="password" name="password" class="form-control"
                                           value="{{ _password }}" placeholder="{{ _("Введите пароль") }}">
                                    <div style="float: right"><a class="password-control"></a></div>
                                </div>
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{ _("Повтор пароля") }}</strong></label>
                                <div class="password">
                                    <input id="password2" type="password" name="password2" class="form-control"
                                           value="{{ _password2 }}" placeholder="{{ _("Повторно введите пароль") }}">
                                    <a href="#" class="password-control2"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-stretch bd-highlight"
                         style="margin-left: auto; margin-right: auto; ">
                        <div class="p-1" align="right">
                            <button type="submit" name="button" value="reset" class="btn btn-primary ">
                                {{ _("Сохранить") }}
                            </button>
                            <a onclick="document.getElementById('reset').style.display='none'" type="submit"
                               class="btn btn-primary cancelbtn">
                                {{ _('Отмена') }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}