{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Рабочий стол</h1>

    <div class="row">
       
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/static/img/photos/370212158_S.jpg" alt="Обучение">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Центр обучения</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">В центре обучения доступны образовательные курсы, программы и обучающие материалы по нейропсихологии, процессу тестирования и проведения развивающих занятий и упражнений</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            <li class="list-group-item">Сейчас доступно <strong>3</strong> курса</li>
                            <li class="list-group-item"></li>
                        </ul>
                        <a href="{{ url_for('education_list_courses') }}" class="btn btn-primary">Перейти к модулю</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/static/img/photos/50729393_S.jpg" alt="Тестирование и коррекция">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Центр тестирования и коррекции</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">В центре тестирование и коррекции доступнен функционал оценки нейропсихологических особенностей детей, ведение журнала тестирований, занятий и аналитика</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            <li class="list-group-item">Вам доступно <strong> - </strong> тестируемых</li>
                            <li class="list-group-item"></li>
                        </ul>
                        <a href="{{ url_for('price_list') }}" class="btn btn-primary">Перейти к модулю</a>
                    </div>
                </div>
            </div>

        

            
        
    
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Мой профиль</h5>
                </div>
                <div class="card-body">
                    <div class="row g-0">
                        <p>В данном блоке представлены основные параметры профиля и настройки доступа к платформе. Обратитесь к администратору, в случае каких-то вопросов или необходимости корректировки параметров</p>
                    </div>
    
                    <table class="table table-sm mt-2 mb-4">
                        <tbody>
                            <tr>
                                <th>Имя</th>
                                <td>{{ _user["name"] }}</td>
                            </tr>
                            <tr>
                                <th>Логин</th>
                                <td>{{ _user["login"] }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ _user["email"] }}</td>
                            </tr>
                            <tr>
                                <th>Роль в системе</th>
                                <td>{{ _user["role"] }}</td>
                            </tr>
                            <tr>
                                <th>Дата регистрации</th>
                                <td>{{ _user["created_date"] }}</td>
                            </tr>
                            <tr>
                                <th>Окончание подписки</th>
                                <td>{{ _user["education_module_expiration_date"] }}</td>
                            </tr>
                            <tr>
                                <th>Центр обучения</th>
                                <td><span class="badge bg-success">Доступно</span></td>
                            </tr>
                            <tr>
                                <th>Центр тестирования</th>
                                <td><span class="badge bg-danger">Недоступно</span></td>
                            </tr>
                            <tr>
                                <th>Центр коррекции</th>
                                <td><span class="badge bg-danger">Недоступно</span></td>
                            </tr>
                        </tbody>
                    </table>
    
                    <strong>Лента активностей</strong>

                    <ul class="timeline mt-2 mb-0">
                        {% for item in _data %}
                            {% for action in item["action"] %}
                                <li class="timeline-item"></li>
                                    <strong>{{ action }}</strong>
                                    <span class="float-end text-muted text-sm">30m ago</span>
                                    <p>тут должно быть описание активности...</p>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}