{% extends "settings.html" %}

{% block maintenance %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Загрузка списка пользователей в SQL базу</h5>

        <div class="row">
            <div class="col-sm-12">
                <form id="upload_users_from_json_to_sql" method="post" enctype="multipart/form-data">
                    <p><strong><label>data folder:</label></strong> {{ _page_data["data_folder"]}}</p>
                    <p><strong><label>users number:</label></strong> {{ _page_data["users_number"]}}</p>
                    <p><strong><label>PostgreSQLDataAdapter connection string:</label></strong> {{ _page_data["PostgreSQLDataAdapter_connection_string"]}}</p>
                    <p><strong><label>db users number:</label></strong> {{ _page_data["db_users_number"]}}</p>
                    <button type="submit" name="submit_button" value="upload_users_from_json_to_sql" class="btn btn-primary">Upload data</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}