{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Варианты доступа</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-10 col-xl-8 mx-auto">
                            <h1 class="text-center">Оформите подписку для доступа ко всем функциям платформы</h1>
                    
                            
                    
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="monthly">
                                    <div class="row py-4">
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Free</h5>
                                                        <span class="display-4">0 р</span>
                                                    </div>
                                                    <h6>Включает:</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Ознакомительный доступ к платформе
                                                        </li>
                                                        <li class="mb-2">
                                                            Бесплатные образовательные курсы
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <a href="{{ url_for('main_page') }}" class="btn btn-lg btn-outline-primary">Доступно</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Самостоятельная работа</h5>
                                                        <span class="display-4">999 р</span>
                                                        <span>/месяц</span>
                                                    </div>
                                                    <h6>Включает:</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            ✓ 8 модулей обучения основного курса
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Дополнителнье курсы и практики
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Доступ к курсу 1 месяц
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Обратиться</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Совместное обучение</h5>
                                                        <span class="display-4">38 500 р</span>
                                                    </div>
                                                    <h6>Включает:</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            ✓ Практические задания
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Обратная связь от автора курсов
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Закрытый чат участников
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Возможность задавать вопросы автору курсов
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Еженедельные видео-конференции
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ 8 прямых эфиров с разбором в конце каждого модуля
                                                        </li>
                                                        <li class="mb-2">
                                                            ✓ Доступ к курсам на 1 год
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Обратиться</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <hr>
                    
                            <div class="text-center my-4">
                                <h2>Часто задаваемые вопросы</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-6 ms-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="h6 card-title">Do I need a credit card to sign up?</h5>
                                            <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                                libero, sit amet
                                                adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                                                lorem.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-6 me-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="h6 card-title">Do you offer a free trial?</h5>
                                            <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                                libero, sit amet
                                                adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                                                lorem.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-6 ms-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="h6 card-title">What if I decide to cancel my plan?</h5>
                                            <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                                libero, sit amet
                                                adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                                                lorem.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-6 me-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="h6 card-title">Can I cancel at anytime?</h5>
                                            <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                                libero, sit amet
                                                adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                                                lorem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}