{% extends 'base.html' %}

{% block main_block %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Оформите подписку для доступа к курсу</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center mt-3 mb-2">
                        <div class="col-md-3">
                            <div class="card text-center h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="mb-4">
                                        <h5><strong>Free</strong></h5>
                                        <span class="display-5">0 р</span><br>
                                    </div>
                                    <h6><strong>Включает:</strong></h6>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            ✓ Ознакомительный доступ к платформе
                                        </li>
                                        <li class="mb-2">
                                            ✓ Бесплатные образовательные курсы
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <a href="{{ url_for('main_page') }}" class="btn btn-lg btn-outline-primary">Подписаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="mb-4">
                                        <h4><strong>Учусь сама</strong></h4>
                                        <span class="display-5">999 р</span><br>
                                        <span>/месяц</span>
                                    </div>
                                    <h6><strong>Включает:</strong></h6>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            ✓ Интенсив «Занятия на балансире»
                                        </li>
                                        <li class="mb-2">
                                            ✓ Мини-курс «Школа выживания при СДВГ»
                                        </li>
                                        <li class="mb-2">
                                            ✓ Практический курс «Познаю Пространство»
                                        </li>
                                        <li class="mb-2">
                                            ✓ Прямые эфиры
                                        </li>
                                        <li class="mb-2">
                                            ✓ Вебинары со специалистами по запросу
                                        </li>
                                        <li class="mb-2">
                                            ✓ Обзоры игр и пособий
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Подписаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="mb-4">
                                        <h3><strong>Я – НейроМама</strong></h3>
                                        <span class="display-5">20 000 р</span> <br>
                                        <span>/2 месяца</span>
                                    </div>
                                    <h6><strong>Включает:</strong></h6>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            Обучающий курс по нейродиагностике и коррекции с обратной связью
                                        </li>
                                        <li class="mb-2">
                                            ✓ 8 модулей
                                        </li>
                                        <li class="mb-2">
                                            ✓ 53 Видео-урока
                                        </li>
                                        <li class="mb-2">
                                            ✓ Практические задания
                                        </li>
                                        <li class="mb-2">
                                            ✓ Презентации
                                        </li>
                                        <li class="mb-2">
                                            ✓ Методический материал
                                        </li>
                                        <li class="mb-2">
                                            ✓ Диагностический материал
                                        </li>
                                        <li class="mb-2">
                                            ✓ Закрытый чат для участников
                                        </li>
                                        <li class="mb-2">
                                            ✓ Обратная связь от куратора
                                        </li>
                                        <li class="mb-2">
                                            ✓ Видеоконференции по материалам с кураторами и с автором курса
                                        </li>
                                        <li class="mb-2">
                                            Продление обучения с обратной связью 10 000 - 1 месяц,
                                            Без обратной связи 1000р - месяц
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <a href="https://t.me/+uY-id1QeazJlMTAy" class="btn btn-lg btn-primary">Подписаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}