{% extends 'base.html' %}

{% block main_block %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="{{ url_for('static' , filename="js/datatables.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.0.2/css/fixedColumns.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // DataTables with Buttons
            var datatablesButtons = $("#datatables-buttons").DataTable({
                responsive: true,
                lengthChange: false,
                scrollY: "500px",
                {#scrollX: true,#}
                scrollCollapse: true,
                paging: false,
                fixedHeader: true,
                fixedColumns: true,
                ordering: false,
                order: [[0, 'asc']],
                rowGroup: {
                    dataSrc: 0
                },
                columnDefs: [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,

                },
                    {
                        "width": "50%!important;"
                    }]
            });
            {#datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");#}
        });
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript">
        $(document).ready (function () {
            const  selections  =  new  Choices ( $ ( '.id_probe' ) [ 0 ] ) ;
        });
    </script>

    <script type="text/javascript">
          function checkprobationer(form) {
            var probationer = form.probationer.value;
            var text = "Ошибка: выберите тестируемого!"

            if (probationer === "Выберите тестируемого"){
                alert(text);
                return false;
            }
          }
    </script>

{#    <style>#}
{#    body{#}
{#        color: black;#}
{#    }#}
{#    </style>#}

    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Протокол тестирования{% if _mode == "add_value_tests" and _data%}(Тестируемый: {{ _data["name_probationer"] }}) {% endif %}</h1>
        </div>

        <form id="probes" name="probes" method="post" enctype="multipart/form-data" onsubmit="return checkprobationer(this);">
            {% if _mode == "selection_probationer" %}
                <div class="row d-flex align-items-stretch bd-highlight">
                    <div class="col-8 p-2 bd-highlight">
                        <div class="card d-flex align-self-baseline">
                            <div class="card-header">
                                <h5 class="card-title">Выбор тестируемого</h5>
                                <div class="mb-2">
                                    <label class="form-label"><strong>Тестируемый</strong></label>
                                    <select class="form-select" name="probationer">
                                        {% for i_probationer in _probationers_list %}
                                            <option {% if i_probationer["name_probationer"] == 'Выберите тестируемого' %}selected disabled {% endif %}>{{ i_probationer["name_probationer"] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: right">
                            <button type="submit" name="button" value="draft" class="btn btn-primary ">Продолжить</button>

                            <a type="submit" name="button" href="{{ url_for('multilingual.probes') }}" class="btn btn-secondary ">Отмена</a>
                        </div>
                    </div>
                </div>



            {% elif _mode == "add_value_tests" %}
                <div class="row d-flex align-items-stretch bd-highlight">
                    <div class="p-2 bd-highlight">
                        <div class="card d-flex align-self-baseline">
                            <div class="card-header">
                                {% if _data %}
                                <div class="card-body">
                                    <div class="mb-3">
                                        <select id="id_probe" name="action" class="id_probe" onchange="this.form.submit();">
                                                <option>Выберите пробу</option>
                                            {% for i_probe in _probes %}
                                                <option style="background: black" value="{{ i_probe["id"] }}">{{ i_probe["name_probe"] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <h1>{{ _data["name_probe"] }}</h1>
                                <table id="datatables-buttons" class="table table-striped dataTable no-footer dtr-inline cell-border"
                                       role="grid" aria-describedby="datatables-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <td class="sorting" style="" tabindex="0" aria-controls="datatables-buttons"
                                                aria-label="Position: activate to sort column ascending">Параметр</td>
                                            <td class="sorting" style="width:50%!important;" tabindex="0" aria-controls="datatables-buttons"
                                                aria-label="Position: activate to sort column ascending">Критерии</td>
                                            <td class="sorting" style="width:50%!important;; text-align:center" tabindex="0" aria-controls="datatables-buttons"
                                                aria-label="Position: activate to sort column ascending">Оценка</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for i_parameter in _data["parameters"] %}
                                            {% for i_grade in i_parameter["grades"] %}
                                                <tr class="even">
                                                    <td >{{ i_parameter["name_parameter"] }}</td>
                                                    <td class="text-wrap" style="width:50%!important; ">{{ i_grade["name_grade"] }}</td>

                                                        {% if i_grade['radio_value'] %}
                                                            <td role="row" style="width:50%!important;">
                                                                <div>
                                                                    {% for i_value in i_grade['radio_value']%}
                                                                        {% if i_value["value"] is number %}
                                                                            <div class="input-group" >
                                                                                <div class="input-group-text">
                                                                                    <input {% if _protocol == "end" %} disabled {% endif %} type="radio" class="text-wrap" style="padding-right: 10px" name="{{ i_grade["id"] }}" value="{{ i_value['value'] }}">
                                                                                    <span class="input-group text-wrap">  ({{ i_value['text'] }})</span>

                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="input-group" style="width:50%!important;">
                                                                                <div class="input-group-text" style="width:50%!important;">
                                                                                    <input {% if _protocol == "end" %} disabled {% endif %} type="radio" name="{{ i_grade["id"] }}">
                                                                                </div>
                                                                                <span class="input-group-text">{{ i_value['value'] }}</span>
                                                                                <input {% if _protocol == "end" %} disabled {% endif %} type="text">
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% if i_grade["grade"] != "" %}
                                                                    <div>
                                                                        <span>Отвечено: {{ i_grade['grade'] }}</span>
                                                                    </div>
                                                                {% endif %}
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            {% if i_grade['grade'] is mapping %}
                                                                <td name="{{ i_grade["id"] }}"  style="width:50%!important;">
                                                                    {% for key, value in i_grade['grade'].items() %}
                                                                        <div class="input-group" style="width:50%!important;">
                                                                            <span class="input-group-text">({{ key }})</span>
                                                                            {% if key == "Отсроч." %}
                                                                                <input {% if _protocol == "end" %} disabled {% endif %} name="{{ i_grade["id"] }}_4" value="{{ value }}">
                                                                            {% else %}
                                                                                <input {% if _protocol == "end" %} disabled {% endif %} name="{{ i_grade["id"] }}_{{ key }}" value="{{ value }}">
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endfor %}
                                                                </td>
                                                            {% else %}
                                                                <td style="width:50%!important;">
                                                                    <input {% if _protocol == "end" %} disabled {% endif %} name="{{ i_grade["id"] }}" value="{{ i_grade["grade"] }}">
                                                                </td>
                                                            {% endif %}
                                                        {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <div class="text-center">
                                        <h2>Данная страница недоступна из-за отсутсвия нужного файла.</h2>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if _data %}
                <div align="right">
                    <button type="submit" name="button" value="draft" class="btn btn-primary ">Сохранить как черновик</button>

                    <button type="submit" name="button" value="end" class="btn btn-primary ">Сохранить окончательно</button>

                    <a href="{{ url_for("multilingual.probes") }}" class="btn btn-primary ">Назад</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}