{% extends 'base.html' %}

{% block main_block %}

<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">{{_("Карточка тестируемого")}}</h1>
    </div>

    <form id="add_probationer" name="add_probationer" method="post" enctype="multipart/form-data">
        {% if _error_type=='Successful' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{_("Успешно")}}</strong>  {{ _error }}
                </div>
            </div>
        {% elif _error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    <strong>{{_("Ошибка")}}</strong> {{ _error }}
                </div>
            </div>
        {% endif %}
        <div class="row d-flex align-items-stretch">
            <div class="col-sm-6">
                <div class="card d-flex align-self-baseline" style="height: 100%">
                        <div class="card-header">
                            <h5 class="card-title">{{_("Данные тестируемого")}}</h5>

                        {% if _is_current_user_admin and _mode=="view" %}
                            <div class="mb-2">
                                <label class="form-label"><strong>Login</strong></label>
                                <input required type="text" name="user_login" class="form-control" readonly value="{{ _data['user_login'] }}">
                            </div>
                        {% endif %}
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Имя тестируемого")}}</strong></label>
                            <input required type="text" name="name_probationer" class="form-control" value="{{ _data['name_probationer'] }}" placeholder="{{ _data_placeholder['name_probationer'] }}">
                        </div>

                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Сопутствующие диагнозы")}}</strong></label>
                            <textarea required name="diagnoses" class="form-control"  {% if _mode=="view" %} readonly {% endif %}  placeholder="{{ _data_placeholder['diagnoses'] }}">{{ _data['diagnoses'] }}</textarea>
                        </div>

                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Причины обращения")}}</strong></label>
                            <textarea required name="reasons_for_contact" class="form-control"  {% if _mode=="view"%} readonly {% endif %} placeholder="{{ _data_placeholder['reasons_for_contact'] }}">{{ _data['reasons_for_contact'] }}</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 ">
                <div class="card d-flex align-self-baseline" style="height: 100%">
                    <div class="card-header">
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Дата Рождения")}}</strong></label>
                            <input required type="date" name="date_of_birth" class="form-control" {% if _mode == "view" %} readonly {% endif %} value="{{ _data['date_of_birth'] }}" >
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("ФИО родителя")}}</strong></label>
                            <input required type="text" name="name_parent" class="form-control" {% if _mode == "view" %} readonly {% endif %} value="{{ _data['name_parent'] }}" placeholder="{{ _data_placeholder['name_parent'] }}">
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Учебное заведение")}}</strong></label>
                            <select required type="text" name="educational_institution" class="form-control" {% if _mode=="view"%} disabled {% endif %}>
                                <option selected disabled value="">{{_("Выберите название учебного заведения")}}..</option>
                                {% for i_setting in _settings['educational_institution'] %}
                                    <option {% if i_setting == _data['educational_institution'] %}selected{% endif %} value="{{ i_setting }}">{{ i_setting }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Контакты")}}</strong></label>
                            <input required type="text" name="contacts" class="form-control" {% if _mode=="view" %} readonly {% endif %} value="{{ _data['contacts'] }}" placeholder="{{ _data_placeholder['contacts'] }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-stretch p-2" style="justify-content: flex-end">
            <button type="submit" name="button" value="{% if _mode=="new" %}add{% elif _mode=="edit" %}save{% else %}edit{% endif %}" class="btn btn-primary ">{% if _mode=="new" %}{{_("Добавить
                    тестируемого")}}
                                                            {% elif _mode=="edit" %}{{_("Сохранить")}}
                                                            {% else %}{{_("Редактировать")}}
                                                            {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}