{% extends 'base.html' %}

{% block main_block %}
    <div class="container-fluid p-0">
    
        <h1 class="h3 mb-3">Пробы</h1>
    
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="datatables-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for('probe_profile')}}">
                                            <span>Добавить пробу</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}