{% extends 'base.html' %}

{% block main_block %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {

        var datatablesButtons = $("#protocols_table").DataTable({
            responsive: true,
            lengthChange: !1,


        });
    })
    </script>
    <script>
        var modal_reset = document.getElementById('add_protocol');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === modal_reset) {
                modal_reset.style.display = "none";
            }
        }
    </script>
    <script type="text/javascript">
          function checkprobationer(form) {
            var probationer = form.probationer.value;
            var text = "Ошибка: выберите тестируемого!"

            if (probationer === "Выберите тестируемого"){
                alert(text);
                return false;
            }
          }
    </script>
    <div class="container-fluid p-0">
    
        <h1 class="h3 mb-3">Пробы</h1>
    
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="datatables-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        {% if _is_probationer %}
                                            <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" onclick="document.getElementById('add_protocol').style.display='block'">
                                                <span>Добавить пробу</span>
                                            </a>
                                        {% else %}
                                            <div>
                                                <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for('multilingual.probationer_card')}}">
                                                    <span>Добавить тестируемого</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-sm-12">
                                {% if _is_probationer %}
                                    <table id="protocols_table" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%; font-size: 13px"
                                        role="grid" aria-describedby="datatables-buttons_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="width:5%;">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:20%;" aria-label="Position: activate to sort column ascending">Имя тестируемого</th>
                                                <th class="sorting text-center" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Протокол</th>
                                                <th class="sorting text-center" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Дата тестирования</th>
                                                <th class="sorting text-center" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Дата создания</th>
                                                <th class="sorting text-center" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Статус протокола</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in _data %}

                                            <tr class="even">

                                                <td><img src="{{ url_for('static' , filename="img/avatars/149071.jpg")}}" width="32" height="32"
                                                        class="rounded-circle my-n1" alt="Avatar"></td>

                                                <td class="sorting_1 dtr-control "><a href="{{ url_for('multilingual.protocol_card',protocol_id=item["probe_id"]) }}">{{ item['name_probationer'] }}</a></td>
                                                <td class="text-center">{{ item['test'] }}</td>
                                                <td class="text-center">{{ item['date_test'] }}</td>
                                                <td class="text-center">{{ item['date_protocol'] }}</td>
                                                <td class="text-center">
                                                    <div class='badge {% if item['protocol_status'] == "черновик" %} bg-success
                                                            {% elif item['protocol_status'] == "окончательный" %} bg-danger {% endif %} bg-gradient text-light' style="display: block;text-align: center; margin-right: 15%">
                                                                {{ item['protocol_status'] }}
                                                            </div>
                                                </td>

                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="text-center">
                                        <h2>У вас нет тестируемых.</h2>
                                        <h2>Перед тем, как создать протокол, создайте тестируемого.</h2>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Выпадающее окно для создания нового протокола -->
        <div id="add_protocol" class="modal">
            <div class="modal-content" style="width: 25%">
                <form id="probes" name="probes" method="post" enctype="multipart/form-data"
                      onsubmit="return checkprobationer(this);">
                    <div class="row d-flex align-items-stretch bd-highlight">
                        <div class="col-8 p-2 bd-highlight">
                            <div class="card d-flex align-self-baseline">
                                <div class="card-header">
                                    <h5 class="card-title">Выбор тестируемого</h5>
                                    <div class="mb-2">
                                        <label class="form-label"><strong>Тестируемый</strong></label>
                                        <select class="form-select" name="probationer">
                                            <option disabled selected value="Выберите тестируемого">Выберите тестируемого</option>
                                            {% for i_probationer in _probationers_list %}
                                                <option {% if i_probationer["name"] == 'Выберите тестируемого' %}selected
                                                        disabled {% endif %} value="{{ i_probationer['id'] }}">{{ i_probationer["name"] }}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="form-label"><strong>Проба</strong></label>
                                        <select class="form-select" name="probes_list">
                                            <option disabled selected value="Выберите пробу">Выберите пробу</option>
                                            {% for probe in _probes_list %}
                                                <option value="{{ probe['id'] }}">{{ probe["name"] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right">
                                <button type="submit" disabled name="button" value="draft" class="btn btn-primary ">Продолжить
                                </button>

                                <a type="submit" name="button" href="{{ url_for('multilingual.protocols') }}"
                                   class="btn btn-secondary ">Отмена</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}