{% extends 'base.html' %}

{% block main_block %}
    <div class="container-fluid p-0">
    
        <h1 class="h3 mb-3">Пробы</h1>
    
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="datatables-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        {% if _is_probationer %}
                                            <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for('multilingual.probe_profile')}}">
                                                <span>Добавить пробу</span>
                                            </a>
                                        {% else %}
                                            <div>
                                                <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for('multilingual.probationer_card')}}">
                                                    <span>Добавить тестируемого</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-sm-12">
                                {% if _is_probationer %}
                                    <table id="datatables-buttons" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%;"
                                        role="grid" aria-describedby="datatables-buttons_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="width:5%;">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:20%;" aria-label="Position: activate to sort column ascending">Имя тестируемого</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Дата тестирования</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:10%;" aria-label="Position: activate to sort column ascending">Дата создания протокола</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                    style="width:5%;" aria-label="Position: activate to sort column ascending">Статус протокола</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in _data %}

                                            <tr class="even">

                                                <td><img src="{{ url_for('static' , filename="img/avatars/149071.jpg")}}" width="32" height="32"
                                                        class="rounded-circle my-n1" alt="Avatar"></td>

                                                <td class="sorting_1 dtr-control"><a href="{{ url_for('multilingual.probe_profile',probationer_id=item["probationer_id"], probe_id=item["probe_id"], test_id=1) }}">{{ item['name_probationer'] }}</a></td>
                                                <td>{{ item['date_test'] }}</td>
                                                <td>{{ item['date_protocol'] }}</td>
                                                {% if item['protocol_status']=="draft" %}
                                                    <td>черновик</td>
                                                {% elif item['protocol_status']=="end" %}
                                                    <td>окончательный</td>
                                                {% endif %}

                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="text-center">
                                        <h2>У вас нет тестируемых.</h2>
                                        <h2>Перед тем, как создать протокол, создайте тестируемого.</h2>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}