<!DOCTYPE html>
<html lang="en">

<!-- DMPKit Tag Manager -->
<script>
    (function (w, d, s, l, h, m) {
        w[l] = w[l] || [];
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dmpkitdl' ? '&l=' + l : '';
        j.async = true;
        j.src = '//' + m + '/tm.js?id=' + h + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dmpkitdl', '{{ CDP_TRACKING_ID }}', 'static.cdp.cleverdata.ru');
</script>
<!-- End DMPKit Tag Manager -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Denis Afanasev">

    <link rel="shortcut icon" href="{{ url_for('static' , filename="img/icons/icon-48x48.png") }}"/>

    <title>{{ app_name }}</title>
    <link href="{{ url_for('static' , filename="css/light.css") }}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="{{ url_for('static' , filename="js/nhc_utils.js") }}" type="text/javascript"></script>

</head>

<body>

<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <img src="{{ url_for('static' , filename="img/logo/nhc_logo_flat.png") }}" width="100%">
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="form-group">
                                    {% if not _is_uuid %}
                                        {% if _status_code == 'Successful' %}
                                            <div class="alert alert-success alert-dismissible" role="alert">
                                                <div class="alert-message">
                                                    <strong>Успешно</strong> {{ _message_error }}
                                                </div>
                                            </div>
                                        {% else %}
                                            {% if _status_code == 'Error' %}
                                                <div class="alert alert-danger alert-dismissible" role="alert">
                                                    <div class="alert-message">
                                                        <strong>Ошибка</strong> {{ _message_error }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <form id="emailForm" method="post" enctype="multipart/form-data"
                                                  onsubmit="return validate(this);">
                                                <input class="form-control form-control-lg" type="email" name="email"
                                                       placeholder="Введите email"/>

                                                <div class="text-center mt-3">
                                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                                </div>
                                            </form>
                                        {% endif %}
                                    {% else %}
                                        <form id="reset_password_Form" method="post" enctype="multipart/form-data"
                                              onsubmit="checkPasswordsMatched(this)">
                                            <div class="form-group">
                                                {% if _status_code == 'Successful' %}
                                                    <div class="alert alert-success alert-dismissible" role="alert">
                                                        <div class="alert-message">
                                                            <strong>Успешно</strong> {{ _message_error }}
                                                        </div>
                                                    </div>
                                                    <div class="text-center mt-3">
                                                        <a href="{{ url_for('multilingual.login') }}" type="submit"
                                                           class="btn btn-primary">Войти в систему</a>
                                                    </div>
                                                {% else %}
                                                    {% if _status_code == 'Error' %}
                                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                            <div class="alert-message">
                                                                <strong>Ошибка</strong> {{ _message_error }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="mb-2">
                                                        <label class="form-label"><strong>Пароль</strong></label>
                                                        <input class="form-control form-control-lg" type="password"
                                                               name="password"
                                                               placeholder="Введите пароль"/>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label class="form-label"><strong>Повтор пароль</strong></label>
                                                        <input class="form-control form-control-lg" type="password"
                                                               name="password2"
                                                               placeholder="Введите пароль еще раз"/>
                                                    </div>

                                                    <div class="text-center mt-3">
                                                        <button type="submit" class="btn btn-primary">Отправить</button>
                                                    </div>
                                                    </div>

                                                {% endif %}

                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'message_form.html' %}
<script src="{{ url_for('static' , filename="js/app.js") }}"></script>

</body>

</html>
