{% extends 'base.html' %}

{% block main_block %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Choices.js
        new Choices(document.querySelector(".choices-single"));
        new Choices(document.querySelector(".choices-multiple"));
      
        // Flatpickr
        flatpickr(".flatpickr-minimum");
        flatpickr(".flatpickr-datetime", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
        flatpickr(".flatpickr-human", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });
        flatpickr(".flatpickr-multiple", {
            mode: "multiple",
            dateFormat: "Y-m-d"
        });
        flatpickr(".flatpickr-range", {
            mode: "range",
            dateFormat: "Y-m-d"
        });
        flatpickr(".flatpickr-time", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });
    });
    </script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
        {#$(document).ready(function() {#}
        {#    $('#example').DataTable();} );#}
    </script>
    <style>
    .btn{
        margin-bottom: 1em;
    }
    </style>


    <div class="container-fluid p-0">
    
        <h1 class="h3 mb-3">Настройки</h1>
    
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Настройки</h5>

                        <div>
                            {% if _is_current_user_admin %}
                                <a class="btn {% if _endpoint == "estimated_values" %} btn-primary {% else %}btn-light {% endif %} buttons-copy buttons-html5" aria-controls="datatables-buttons"  href="{{ url_for("estimated_values") }}" role="tab">
                                    Справочник оценочных значений
                                </a>
                            {% endif %}
                            <a class="btn {% if _endpoint == "age_range_list" %} btn-primary {% else %}btn-light {% endif %} buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for("age_range_list") }}" role="tab">
                                Справочник диапазонов возрастов
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content">
                    <div id="example" class="tab-pane fade {% if _endpoint == "estimated_values" %} show active {% endif %}" id="{{ url_for("estimated_values") }}" role="tabpanel">
                        {% block estimated_values %}
                        {% endblock %}
                    </div>

                    <div class="tab-pane fade {% if _endpoint == "age_range_list" %} show active {% endif %}" id="{{ url_for("age_range_list") }}" role="tabpanel">
                        {% block age_range_list %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

    </div>
{% endblock %}