{% extends 'profile_main_page.html' %}

{% block user_profile_block %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const education_stream_table = $("#education_stream_table").DataTable({
                responsive: true,
                lengthChange: !1,
                pageLength: 5,
                });

        });
    </script>
    <script>
        function checkData(form){
            const role = form.role.value;
            const probationers_number = form.probationers_number.value;
            const user_name = form.user_name.value;
            const message = document.getElementById('message');

            if (role === 'placeholder') {
                document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
                document.querySelector('p[id=text_message]').textContent = "{{_("Выберите роль пользователю")}}.";
                message.style.display = 'block'
                return false;
            }
            if (probationers_number === 'placeholder') {
                document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
                document.querySelector('p[id=text_message]').textContent = "{{_("Выберите количество доступных тестируемых для пользователя")}}.";
                message.style.display = 'block'
                return false;
            }
            if (user_name === '') {
                document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
                document.querySelector('p[id=text_message]').textContent = "{{_("Введите имя пользователя")}}";
                message.style.display = 'block'
                return false;
            }

            return checkRole(form);
        }

        function checkExtension(form) {
            const period = form.period.value;
            const reference_point = form.reference_point.value;
            const message = document.getElementById('message');

            if (period === 'placeholder'){
                document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
                document.querySelector('p[id=text_message]').textContent = "{{_("Выберите срок, на который хотите продлить доступ пользователю")}}.";
                message.style.display = 'block'
                return false;
            }

            if (reference_point === 'placeholder'){
                document.querySelector('h3[id=title_message]').textContent = '{{_("Ошибка")}}';
                document.querySelector('p[id=text_message]').textContent = "{{_("Выберите начальное время отсчета")}}.";
                message.style.display = 'block'
                return false;
            }

            return true;
        }
    </script>
    <script>
        function edit_is_active() {
            var chbox;
            chbox=document.getElementById('is_active');
            if (chbox.checked) {
                chbox.value = true;
            }
            else {
                chbox.checked = true;
                chbox.value = false;
            }

        }
    </script>
        <form id="add_user" name="add_user" method="post" enctype="multipart/form-data" onsubmit="return checkData(this);">

            <div class="row d-flex align-items-stretch">
                <div class="col-sm-6 bd-highlight">
                    <div class="card d-flex align-self-baseline" style="height: 100%;">
                        <div class="card-header">
                            <h5 class="card-title">{{_("Учетные данные пользователя")}}</h5>
                        <fieldset {% if _mode == 'view' %}disabled{% endif %}>
                            <div class="mb-2">
                                <label class="form-label"><strong>Login</strong></label>
                                <input type="text" name="login" class="form-control" {% if _mode!="new" %} disabled {% endif %} value="{{ _data['login'] }}"  placeholder="{{_data_placeholder['login']}}">
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Имя пользователя")}}</strong></label>
                                <input type="text" name="user_name" class="form-control" value="{{ _data['name'] }}" placeholder="{{_data_placeholder['name']}}">
                            </div>

                            {% if _mode=="new" %}
                                <div class="mb-2">
                                    <label class="form-label"><strong>{{_("Пароль")}}</strong></label>
                                    <div class="password">
                                        <input id="password" type="password" name="password" class="form-control" value="{{ _data['password'] }}" placeholder="{{_data_placeholder['password']}}">
                                        <div style="float: right"><a class="password-control" ></a></div>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <label class="form-label"><strong>{{_("Повтор пароля")}}</strong></label>
                                    <div class="password">
                                        <input id="password2" type="password" name="password2" class="form-control" value="{{ _data['password2'] }}" placeholder="{{_data_placeholder['password2']}}">
                                        <a href="#" class="password-control2" ></a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="mb-2">
                                <label class="form-label"><strong>Email</strong></label>
                                <input type="email" name="email" class="form-control" value="{{ _data['email'] }}" placeholder="{{_data_placeholder['email']}}">
                            </div>
                        </fieldset>
                            <div class="mb-2">
                                <label class="form-label"><strong>Статус</strong></label>
                                <div class="form-check form-switch">
                                    <input id="is_active" name="is_active" class="form-check-input" type="checkbox"
                                           value="True"
                                           {% if _data['active'] == true %}checked{% endif %}
                                            {% if _mode == "new" %}disabled{% endif %}
                                            {% if _mode == "view" %} onchange="edit_is_active(); this.form.submit()" {% endif %}>
                                    <label class="form-check-label" for="is_active">{% if _data['active'] == true %}{{_("Разблокирован")}}{% else %}{{_("Заблокирован")}}{% endif %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 bd-highlight">
                    <div class="card d-flex align-self-baseline" style="height: 100%;">
                        <div class="card-header">
                            <h5 class="card-title">{{_("Параметры доступа")}}</h5>
                        <fieldset {% if _mode == 'view' %}disabled{% endif %}>
                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Роль пользователя")}}</strong></label>
                                <select id="role" type="text" name="role" class="form-select" {% if _mode=="view" %} disabled {% endif %}>
                                    {% if _mode != "view" %}
                                        <option value="placeholder">{{_("Выберите роль пользователя")}}</option>
                                        {% for i in _settings['role'] %}
                                            <option {% if i == _data['role'] %} selected {% endif %} value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option>{{ _data['role'] }}</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div class="mb-2">
                                <label class="form-label"><strong>{{_("Количество доступных тестируемых")}}</strong></label>
                                <select id="probationers_number" type="text" name="probationers_number" class="form-select" {% if _mode=="view" %} disabled {% endif %}>
                                    {% if _mode != "view" %}
                                        <option value="placeholder">{{_("Выберите количество доступных тестируемых")}}</option>
                                        {% for i in _settings['probationers_number'] %}
                                                <option {% if _data['probationers_number'] == i %} selected {% endif %}value="{{ i }}"> {{ i }} </option>
                                        {% endfor %}
                                    {% else %}
                                        <option>{{ _data['probationers_number'] }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </fieldset>
                            {% if _mode == "view" %}
                                <div class="mb-2">
                                    <label class="form-label"><strong>{{_("Доступ к дополнительным курсам")}}</strong></label>
                                    <input class="form-control" disabled value="{{ _data['education_module_expiration_date'] }}">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#extension" style="float: right; margin-top: 1%"
                            onclick="document.getElementById('extension').style.display = 'block';">{{_("Продление доступа")}}</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% if _mode == 'view' %}
    <div class="row d-flex align-items-stretch">
        <div class="col-sm p-2 bd-highlight">
            <div class="card d-flex align-self-baseline" style="height: 100%;">
                <div class="card-header">
                    <h5 class="card-title">{{_("Обучающие потоки")}}</h5>

                    <div class="mb-2">
                        <table id="education_stream_table" class="table table-striped dataTable no-footer dtr-inline" style="font-size: 13px" >
                            <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:20%; text-align: left;" aria-label="Position: activate to sort column ascending">
                                    {{_("Название")}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:20%; text-align: left;" aria-label="Position: activate to sort column ascending">
                                    {{_("Роль пользователя в потоке")}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:10%; text-align: center;" aria-label="Position: activate to sort column ascending">
                                    {{_("Преподаватель")}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:5%; text-align: center;" aria-label="Position: activate to sort column ascending">
                                    {{_("Дата старта")}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:5%; text-align: center;" aria-label="Position: activate to sort column ascending">
                                    {{_("Дата окончания")}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                    style="width:15%; text-align: center;" aria-label="Position: activate to sort column ascending">
                                    {{_("Обучающий курс")}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for education_stream in _education_streams_list %}
                                <tr class="even">
                                    <td>
                                        <div style="text-align: left">
                                            <a href="{{ url_for('multilingual.education_stream_card', id=education_stream['id'] ) }}">{{ education_stream['name'] }}</a>
                                        </div>
                                    </td>
                                    <td><div style="text-align: left">{{ education_stream['role_selected_user'] }}</div></td>
                                    <td><div style="text-align: center; margin-right: 6%">{{ education_stream['teacher'] }}</div></td>
                                    <td><div style="text-align: center; margin-right: 13%;">{{ education_stream['date_start'] }}</div></td>
                                    <td><div style="text-align: center; margin-right: 13%;">{{ education_stream['date_end'] }}</div></td>
                                    <td><div style="text-align: center; margin-right: 4%">{{ education_stream['course'] }}</div></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="row d-flex align-items-stretch bd-highlight" align="right">
            <div class="col-12 p-2">
                <a type="submit" href="{% if _mode == "edit" %}{{ url_for('multilingual.user_profile', user_id=_data['user_id']) }}{% else %}{{ url_for('multilingual.user_manager') }}{% endif %}"
                   class="btn btn-primary">
                    {% if _mode != "view" %}{{_("Отмена")}}{% else %}{{_("Назад")}}{% endif %}
                </a>
                {% if _mode !="discharge" %}
                    <button form="add_user" type="submit" name="button"
                            value="{% if _mode=="new" %}add{% elif _mode=="edit"%}save{% else %}edit{% endif %}" class="btn btn-primary">
                        {% if _mode=="new" %}{{_("Добавить пользователя")}}
                        {% elif _mode=="edit" %}{{_("Сохранить")}}
                        {% else %}{{_("Редактировать")}}
                        {% endif %}
                    </button>
                {% endif %}
                {% if _mode == "view"%}
                    <button name="button" value="{% if _mode=="view" %}discharge{% elif _mode=="discharge" %}save_discharge{% endif %}"
                            class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#extension"
                            onclick="document.getElementById('extension').style.display = 'none'; document.getElementById('reset').style.display = 'block';">
                        {{_("Сброс пароля")}}

                    </button>
                {% endif %}
            </div>
        </div>
    <script>
        // Get the modal
        const modal_extension = document.getElementById('extension');
        const modal_reset = document.getElementById('reset');
        window.onclick = function (event) {
            if (event.target === modal_extension) {
                modal_extension.style.display = "none";
            }
            if (event.target === modal_reset) {
                modal_reset.style.display = "none";
            }
        }
    </script>
    <div id="extension" class="modal">
        <div class="modal-content animate " style="width: 31%">
            <h3 class="modal-title">{{_("Доступ к дополнительным курсам")}}</h3>
            <form id="extension" name="form" method="post" enctype="multipart/form-data" onsubmit="return checkExtension(this);">
                <div class="row d-flex align-items-stretch bd-highlight">
                    <div class="card d-flex align-self-baseline border" style="margin-left: auto; margin-right: auto;">
                        <div class="card-header">
                            <div class="mb-2">

                                <label class="form-label"><strong>{{_("Продление срока доступа")}}</strong></label>
                                <select id="period" required class="form-select" name="period">
                                    <option selected disabled value="placeholder">
                                        {{_("Выберите продление срок доступа")}}..
                                    </option>
                                    {% for i in _settings['education_module_expiration_date'] %}
                                        <option value="{{ i['amount'] }}">{{ i['name_period'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-2">
                                <select id="reference_point" required name="reference_point" class="form-select">
                                    <option selected disabled value="placeholder">
                                        {{_("Выберите начальное время отсчета")}}..
                                    </option>
                                    {% for i_point in _settings['reference_point'] %}
                                        <option value="{{ i_point['value'] }}">{{ i_point['name_point'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch bd-highlight" style="text-align: end;">
                    <div class="p-1">
                        <button type="submit" class="btn btn-primary" name="button" value="extension">
                            {{_("Продлить")}}
                        </button>
                        <a onclick="document.getElementById('extension').style.display='none'" type="submit"
                           class="btn btn-primary cancelbtn">
                            {{_("Отмена")}}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="reset" class="modal">
        <div class="modal-content animate" style="width: 20%">
            <h3 class="modal-title">{{_("Сброс пароля")}}</h3>
            <form id="reset_password" name="discharge" method="post" enctype="multipart/form-data"
                    onsubmit="return checkPasswordsMatched(this);">
                <div class="card d-flex align-self-baseline border" style="margin-left: auto; margin-right: auto; ">
                    <div class="card-header">
                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Пароль")}}</strong></label>
                            <div class="password">
                                <input id="password" type="password" name="password" class="form-control" value="{{ _data['password'] }}" placeholder="{{_data_placeholder['password']}}">
                                <div style="float: right"><a id="password-control" class="password-control" ></a></div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="form-label"><strong>{{_("Повтор пароля")}}</strong></label>
                            <div class="password">
                                <input id="password2" type="password" name="password2" class="form-control" value="{{ _data['password2'] }}" placeholder="{{_data_placeholder['password2']}}">
                                <div style="float: right"><a href="#" class="password-control2" ></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-stretch" style="margin-left: auto; margin-right: auto; ">
                    <div class="p-1" style="text-align: end">
                        <button type="submit" name="button" value="reset" class="btn btn-primary">
                            {{_("Сохранить")}}
                        </button>
                        <a onclick="document.getElementById('reset').style.display='none'" type="submit" class="btn btn-primary cancelbtn">
                            {{_("Отмена")}}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

