{% extends 'base.html' %}

{% block main_block %}

<script src="{{ url_for('static' , filename="js/datatables.js")}}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // DataTables with Buttons
        var datatablesButtons = $("#datatables-buttons").DataTable({
            responsive: true,
            lengthChange: !1,

        });
        datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
    });
</script>


<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Управление пользователями</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    

                    <div id="datatables-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    
                        {% if _is_current_user_admin %}
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <a class="btn btn-secondary buttons-copy buttons-html5" aria-controls="datatables-buttons" href="{{ url_for('user_profile')}}">
                                        <span>Добавить пользователя</span>
                                    </a>    
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatables-buttons" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%;"
                                    role="grid" aria-describedby="datatables-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <th style="width:5%;">#</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:10%;" aria-label="Position: activate to sort column ascending">Login</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:20%;" aria-label="Position: activate to sort column ascending">Имя пользователя</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:10%;" aria-label="Position: activate to sort column ascending">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:10%;" aria-label="Position: activate to sort column ascending">Роль</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:5%;" aria-label="Position: activate to sort column ascending">Тестируемые</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:15%;" aria-label="Position: activate to sort column ascending">Дата создания</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:15%;" aria-label="Position: activate to sort column ascending">Срок доступа</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatables-buttons" rowspan="1" colspan="1"
                                                style="width:5%;" aria-label="Position: activate to sort column ascending">Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                        
                                        {% for item in _data %}
                                        
                                        <tr class="even">
                                            
                                            <td><img src="{{ url_for('static' , filename="img/avatars/149071.jpg")}}" width="32" height="32"
                                                    class="rounded-circle my-n1" alt="Avatar"></td>
                                            
                                            <td class="sorting_1 dtr-control"><a href="{{ url_for('user_profile')}}?user_id={{ item['user_id'] }}">{{ item['login'] }}</a></td>
                                            <td>{{ item['name'] }}</td>
                                            <td>{{ item['email'] }}</td>
                                            <td>{{ item['role'] }}</td>
                                            <td><a href="index.html">{{ item['probationers_number'] }}</a></td>
                                            <td>{{ item['created_date'] }}</td>
                                            <td>{{ item['expires_date'] }}</td>
                                            
                                            {% if item['is_active'] %}
                                            <td><span class="badge bg-success">Active</span></td>
                                            {% else %}
                                            <td><span class="badge bg-warning">Inactive</span></td>
                                            {% endif %}

                                        </tr>

                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}