{% extends 'profile_main_page.html' %}

{% block user_profile_block %}
    <script src="{{ url_for('static' , filename="js/datatables.js") }}"></script>
    <script type="text/javascript" language="javascript" src="https://nightly.datatables.net/responsive/js/dataTables.responsive.min.js">
</script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#action_table").DataTable({
            responsive: true,
            lengthChange: !1,
            pageLength: 20,
        });
    })
    </script>

    <div class="row d-flex align-items-stretch bd-highlight">
        <div class="col-sm-12 bd-highlight">
            <div class="card card-body" style="height: 100%;">
                <table id="action_table" class="table table-striped dataTable no-footer dtr-inline" style="font-size: 13px">
                    <thead>
                        <tr>
                            <th rowspan="1" colspan="1" style="width: 30%">{{_("Действие")}}</th>
                            <th rowspan="1" colspan="1" style="width: 30%">{{_("Комментарий")}}</th>
                            <th class="text-center" rowspan="1" colspan="1" style="width: 20%">{{_("Дата создания")}}</th>
                            <th class="text-center" rowspan="1" colspan="1" style="width: 20%">{{_("Время создания")}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in _data %}
                            <tr>
                                <td>{{ action.action }}</td>
                                <td>{{ action.comment_action }}</td>
                                <td><div style="text-align: center; margin-right: 13%;">{{ action.created_date }}</div></td>
                                <td><div style="text-align: center; margin-right: 13%;">{{ action.created_time }}</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}